doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Futebol

    

    style.
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
        color: #333;
      }
      header {
        background-color: #1a73e8;
        color: #fff;
        text-align: center;
        padding: 1rem 0;
        margin-bottom: 20px;
      }
      main {
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
      h1, h2 {
        color: #333;
        text-align: center;
        margin-bottom: 15px;
      }
      h2 {
        border-bottom: 2px solid #333;
        padding-bottom: 5px;
      }
      p {
        margin-bottom: 10px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      li {
        margin-bottom: 5px;
      }
      footer {
        text-align: center;
        margin-top: 20px;
        color: #777;
      }
      img {
        display: block;
        margin: 10px auto;
      }
      button:hover {
        background-color: #155ab6;
      }

  body
    
    header
      h1 Futebol
      p Descubra tudo sobre o esporte mais popular do mundo!
       <img src="https://sportsjob.com.br/wp-content/uploads/2020/11/futebol.jpg" alt="futebol" title="futebol" width="500" height="250" />
  <button onclick="window.history.back()">Voltar</button>
    main
   

      section
        h2 O que é futebol?
        p O futebol é um esporte coletivo praticado por duas equipes de onze jogadores cada. O objetivo é marcar gols no gol adversário utilizando os pés, cabeça ou qualquer parte do corpo, exceto as mãos e os braços.

      section
        h2 Origens do futebol
        p O futebol moderno teve suas raízes na Inglaterra do século XIX, evoluindo de jogos de bola praticados em várias partes do mundo ao longo da história.

      section
        h2 Regras básicas do futebol
        ul
          li O jogo é disputado em dois tempos de 45 minutos cada, com um intervalo de 15 minutos.
          li Cada equipe pode ter até 11 jogadores em campo, incluindo um goleiro.
          li O objetivo é marcar gols no gol adversário e evitar que o adversário marque gols no seu gol.
          li Faltas e cartões são usados para manter a disciplina durante o jogo.

      section
        h2 Grandes competições de futebol
        p O futebol é celebrado mundialmente por competições como a Copa do Mundo FIFA, a UEFA Champions League, e ligas nacionais como a Premier League na Inglaterra, La Liga na Espanha e Serie A na Itália.
    footer
      p Feito por Nicoly e Camila ❤️ 

