doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Viagens
    style.
      /* Estilos CSS */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f0f0f0;
        color: #333;
        margin: 20px;
      }

      header {
        text-align: center;
        margin-bottom: 20px;
      }

      header h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
        color: #333;
      }

      main {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }

      section {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      section h2 {
        font-size: 2em;
        margin-bottom: 10px;
        color: #333;
      }

      section p {
        font-size: 1.2em;
        color: #666;
      }

      footer {
        margin-top: 40px;
        text-align: center;
        color: #666;
      }

      footer p {
        font-size: 0.8em;
      }

  body
    body
    header
      h1 Viagens dos Sonhos

    main
      section#destinos
        h2 Destinos Populares
        H3 Por que Viajar?
        p Viajar é uma das experiências mais enriquecedoras que podemos ter. Cada destino oferece uma oportunidade única de aprender sobre novas culturas, apreciar paisagens deslumbrantes e criar memórias duradouras. Seja explorando cidades cosmopolitas como Paris e Dubai, ou relaxando em paraísos tropicais como as Maldivas e o Brasil, cada viagem amplia nossos horizontes e nos conecta com o mundo de maneiras únicas.

        ul
          li
            <img src="https://oficinadeinverno.com.br/cdn/shop/articles/eiffel-tower-sunrise1.jpg?v=1659494576&width=1000", width="500" height="250">
          <a href="viagens/paris"> Paris</a>
          li
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Dubai_Skylines_at_night_%28Pexels_3787839%29.jpg",  width="500" height="250">
          <a href="viagens/dubai"> Dubai</a>
          li
            <img src="https://ilhasmaldivas.com.br/wp-content/uploads/2021/10/ilhas-maldivas-galeria-vakkaru-resort-02.jpg",  width="500" height="250">
          <a href="viagens/maldivas"> Maldivas</a>
          li
            <img src="https://st.depositphotos.com/1141099/3510/i/950/depositphotos_35103097-stock-photo-rio-de-janeiro-brazil-landscape.jpg",  width="500" height="250">
          <a href="viagens/brasil"> Brasil</a>
          </ul>

      
