<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alemanha</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Alemanha</h1>

    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="https://super.abril.com.br/wp-content/uploads/2023/02/SI_448_ORCL_deutschland_site.jpg?quality=90&strip=info&w=720&h=440&crop=1" alt="Vôlei" style="height: 300px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">Alemanha</h5>
            <p class="card-text">A Alemanha é legal</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
