{{#content}}
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm border-0">
          <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Arraial do Cabo">
          <div class="card-body">
            <h5 class="card-title">Arraial do Cabo</h5>
            <p class="card-text">
              Arraial do Cabo é um município localizado na Região dos Lagos, no estado do Rio de Janeiro. Conhecido por suas praias paradisíacas e águas cristalinas, é um destino muito procurado por turistas que buscam tranquilidade e contato com a natureza.
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Localização:</strong> Região dos Lagos, Rio de Janeiro, Brasil
              </li>
              <li class="list-group-item">
                <strong>Atrações:</strong> Praia do Farol, Prainhas do Pontal do Atalaia, Ilha do Farol
              </li>
              <li class="list-group-item">
                <strong>Atividades:</strong> Mergulho, passeios de barco, trilhas
              </li>
            </ul>
            <a href="#" class="btn btn-primary">Saiba Mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/content}}
