extends layout

block content
  .container.py-4
    .row
      .col-md-4.mb-4
        .card.shadow-sm.border-0
          img.card-img-top(src="https://via.placeholder.com/300x200", alt="Arraial do Cabo")
          .card-body
            h5.card-title Arraial do Cabo
            p.card-text
              | Arraial do Cabo é um município localizado na Região dos Lagos, no estado do Rio de Janeiro. Conhecido por suas praias paradisíacas e águas cristalinas, é um destino muito procurado por turistas que buscam tranquilidade e contato com a natureza.
            ul.list-group.list-group-flush
              li.list-group-item
                strong Localização:
                | Região dos Lagos, Rio de Janeiro, Brasil
              li.list-group-item
                strong Atrações:
                | Praia do Farol, Prainhas do Pontal do Atalaia, Ilha do Farol
              li.list-group-item
                strong Atividades:
                | Mergulho, passeios de barco, trilhas
            a.btn.btn-primary(href="#") Saiba Mais
