doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Basquete

    style.
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
        color: #333;
      }
      header {
        background-color: #ff6f00;
        color: #fff;
        text-align: center;
        padding: 1rem 0;
        margin-bottom: 20px;
      }
      main {
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
      h1, h2 {
        color: #333;
        text-align: center;
        margin-bottom: 15px;
      }
      h2 {
        border-bottom: 2px solid #333;
        padding-bottom: 5px;
      }
      p {
        margin-bottom: 10px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      li {
        margin-bottom: 5px;
      }
      footer {
        text-align: center;
        margin-top: 20px;
        color: #777;
      }

  body
    header
      h1 Basquete
      p Descubra tudo sobre o esporte dinâmico e emocionante!
    <button onclick="window.history.back()">Voltar</button>
    main
      section
        h2 O que é basquete?
        p Basquete é um esporte de equipe jogado por dois times de cinco jogadores em uma quadra retangular. O objetivo é marcar pontos arremessando a bola em uma cesta fixada a uma altura de 3,05 metros.

      section
        h2 História do basquete
        p O basquete foi inventado por James Naismith em 1891, nos Estados Unidos. Desde então, o esporte se popularizou globalmente, tornando-se uma das modalidades mais praticadas no mundo.

      section
        h2 Regras básicas do basquete
        ul
          li O jogo é dividido em quatro períodos de 10 minutos cada (na NBA) ou 12 minutos (em competições FIBA), com intervalos entre os períodos.
          li Os pontos são marcados ao fazer a bola passar através da cesta, valendo 2 pontos (quando dentro do arco de três pontos) ou 3 pontos (fora do arco de três pontos).
          li Driblar, passar e arremessar são fundamentais no jogo. O time com a posse da bola tenta marcar pontos, enquanto o time sem a posse tenta evitar isso (defendendo).
          li Faltas e violações são penalizadas com lances livres ou posse de bola para o time adversário.

      section
        h2 Grandes competições de basquete
        p O basquete é celebrado mundialmente por competições como a NBA (National Basketball Association) nos Estados Unidos, a EuroLeague na Europa, e os Jogos Olímpicos, onde equipes nacionais competem pelo ouro.


