extends layout

block content
  h1= title
  p O basquete, inventado em 1891 por James Naismith, é um esporte jogado por duas equipes de cinco jogadores cada, em uma quadra retangular com uma cesta em cada extremidade.
  .basquete-content
    h2 Regras Fundamentais
    ul
      li Cada cesta vale dois pontos, exceto para arremessos fora da linha de três pontos, que valem três pontos.
      li O jogo é dividido em quatro períodos de 10 ou 12 minutos, dependendo da liga.
      li Os jogadores podem driblar a bola enquanto se movem ou passá-la para seus companheiros de equipe.
    h2 Posições dos Jogadores
    ul
      li Armador: Responsável pela organização das jogadas e passes.
      li Ala: Jogador versátil que pode atuar tanto na defesa quanto no ataque.
      li Pivô: Normalmente o jogador mais alto, responsável por jogar perto da cesta.
