extends layout

block content
  h1 Aba de Esportes de Basquete
block backButton
  a(href='/sport') Voltar
block backButton
  a(href='/sport') Voltar
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title JiujitsuCLub
    // Adicionando Bootstrap para o carrossel
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    // Estilos personalizados
    style.
      .carousel-item img
        width: 100%;
        height: auto;
  body
    
    .container.mt-5
      h1.text-center Grandes nomes do basquete
      p esses são os maiores idolos do basquete da história
      #carouselExampleIndicators.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
          li(data-target="#carouselExampleIndicators", data-slide-to="0", class="active")
          li(data-target="#carouselExampleIndicators", data-slide-to="1")
          li(data-target="#carouselExampleIndicators", data-slide-to="2")
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/LeBron_James_and_Kevin_Love_%28cropped%29.jpg/640px-LeBron_James_and_Kevin_Love_%28cropped%29.jpg", alt="lebron james")
          .carousel-item
            img.d-block.w-100(src="https://lista10.org/wp-content/uploads/2023/05/michael-jordan-looks.jpg", alt="Micael Jordan")
          .carousel-item
            img.d-block.w-100(src="https://img.nsctotal.com.br/wp-content/uploads/2024/02/Kobe-Bryant.jpg", alt="Kobe bryant")
        a.carousel-control-prev(href="#carouselExampleIndicators", role="button", data-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.sr-only Anterior
        a.carousel-control-next(href="#carouselExampleIndicators", role="button", data-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.sr-only Próximo
    // Scripts do Bootstrap
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
