<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-widht, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

  <title><%= title %></title>

<body>
  <h1><%= title %></h1>
  <h2>Basquete</h2>
  <p>
    O basquetebol é um esporte coletivo que consiste em arremessar uma bola em uma cesta posicionada em uma altura específica. É popular por seu ritmo rápido e técnicas de dribles e passes.
  </p>
  <ul>
    <li>Jogado por duas equipes de cinco jogadores</li>
    <li>Pontuações através de cestas de dois e três pontos</li>
    <li>Famoso por jogadas como enterradas e arremessos de longa distância</li>
  </ul>
  <p>
    Além disso, o basquete promove o trabalho em equipe e o desenvolvimento de habilidades físicas e mentais.
  </p>
</body>
</html>
