extends layout

block content
  h1 Basquete

  section
    h2 O que é Basquete?
    p 
      | O basquete é um esporte de equipe que envolve dois times de cinco jogadores cada. O objetivo é marcar pontos ao arremessar a bola em uma cesta localizada nas extremidades da quadra de jogo.

  section
    h2 Equipamentos Necessários
    ul
      li Bola de Basquete
      li Uniforme esportivo (camiseta, calção, meias)
      li Tênis adequados para esportes indoor

  section
    h2 Regras Básicas
    p 
      | As regras do basquete incluem driblar a bola enquanto se move, não dar mais de dois passos sem driblar, não cometer faltas e tentar bloquear os arremessos adversários.

  section
    h2 Imagens de Basquete
    .gallery
      img(src="/images/basquete1.jpg", alt="Jogadores de basquete em ação")
      img(src="/images/basquete2.jpg", alt="Bola de basquete")
      img(src="/images/basquete3.jpg", alt="Cesta de basquete")
