extends layout

block content
  h1= title
  h2 Basquete
  p
    | O basquetebol é um esporte coletivo que consiste em arremessar uma bola em uma cesta posicionada em uma altura específica. É popular por seu ritmo rápido e técnicas de dribles e passes.
