doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Basquete - Meu App Node.js com Pug e Bootstrap
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="styles.css")

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href="#") Meu App Node.js
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarSupportedContent")
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href="#") Início
            li.nav-item
              a.nav-link(href="#") Sobre
            li.nav-item
              a.nav-link(href="#") Contato

    .container.mt-4
      .row
        .col-md-12
          section#basquete.text-center
            h2 Basquete
            p
              | O basquete é um esporte de equipe jogado por dois times de cinco jogadores
              | cada um, onde o objetivo é marcar pontos lançando uma bola através de uma
              | cesta.
            img(src="https://lh5.googleusercontent.com/sryO_3KoO51ic8czCyeH-Mhpl9f2AswROQnnufGS4RCUFiYhIX5yuLnBjIem1nECDaXln5e4rIJ7NMPdYYYNPjqeXPPTiGmLd_qLP9F4BClLiJUDZqg0uHgXwVZeZdXEGBVbdEp4", alt="Imagem de Basquete", class="img-fluid rounded")

    footer.footer.bg-dark.text-white.py-4
      .container
        p.text-center
          | Este é um rodapé sobre esportes. Aqui você pode colocar informações adicionais, links úteis, etc.

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
