extends layout 

block content
    title Inicio pug 
    a( href='/esportes') início
    a( href='/esportes/futebol') futebol
    a( href='/esportes/volei') Vôlei
    a( href='/esportes/basquete') Basquete
    a( href='/esportes/handbol') Handebol

    h1 Basquete 
    p O basquetebol ou bola ao cesto, popularmente conhecido simplesmente como "basquete". <br>
    p É um jogo desportivo coletivo inventado em 1891 pelo professor de Educação Física canadense<br>
    p  James Naismit, na Associação Cristã de Rapazes de Springfield, Massachusetts, Estados Unidos.<br>
    p É disputado por duas equipes de 12 jogadores (5 em campo e 7 suplentes) que têm como objetivo <br>
    p passar a bola por dentro de um cesto e evitar que a bola entre no seu cesto colocado nas,<br>
    p extremidades da quadra, seja num ginásio ou ao ar livre. <br>

    h1 Regras:
    p Ataque: arremessar e acertar a bola na cesta do time adversário o maior número de vezes possível ao longo da partida. <br>
    p Defesa: bloquear a equipe oponente para que não realize o ataque.<br>
    p As partidas duram quatro tempos de 10 minutos, com exceção do maior campeonato estadunidense de equipes, a NBA, em que os tempos duram 12 minutos.<br>
    p Além de ser um jogo em que o jogador só pode andar com a bola quicando-a (batendo-a no chão), a marcação de pontos do basquetebol é diferente se <br>
    p comparado a outros esportes coletivos, como o vôlei e o futebol.<br>
    p Há variação na pontuação de acordo com a situação de ataque. Veja:<br>
    p 1 ponto: arremessos feitos em situação de lance livre.<br>
    p 2 pontos: cestas em condições normais de jogo.<br>
    p 3 pontos: arremesso executado antes da linha situada a 6,2 metros da cesta, conhecida como linha dos três.<br>
    p Na partida, são consideradas faltas as seguintes situações:<br>
    p O jogador dar mais de dois passos sem quicar a bola.<br>
    p O jogador segurar a bola por mais de cinco segundos sem arremessá-la, seja para a cesta, seja para outro jogador de sua equipe.<br>
    p O jogador ficar mais de três segundos dentro do garrafão.<br>
    p  Tocar no braço e na mão de quem estiver com a bola.<br>