<!DOCTYPE html>
<html>
<head>
  <title>Estilos musicais para o seu dia!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar Vermelha</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/musicas">Músicas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/musicas/funk">Funk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/musicas/country">Country</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/musicas/bossanova">Bossa Nova</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/musicas/pop">POP Internacional</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <h2>Carrossel de Exemplo</h2>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://s5.static.brasilescola.uol.com.br/be/2022/12/na-foto-vinicius-de-moraes-um-dos-principais-musicos-da-bossa-nova-ao-lado-de-maria-bethania-1.jpg" alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://akamai.sscdn.co/tb/letras-blog/wp-content/uploads/2020/10/35c02d8-cantores_bossa_nova_1390x780.jpg" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://s.ebiografia.com/img/to/ma/tom_ao_piano.jpg?auto_optimize=low" alt="Terceiro Slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer bg-light text-center mt-4 py-3">
    <div class="container">
      <p>Copyright © 2024. Todos os direitos reservados.</p>
    </div>
  </footer>
</body>
</html>
