doctype html
html
  head
    title Estilos musicais para o seu dia!
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-danger
      .container
        a.navbar-brand(href='#') Navbar Vermelha
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/') Inicio
            li.nav-item
              a.nav-link(href='/musicas') Músicas
            li.nav-item
              a.nav-link(href='/musicas/funk') Funk 
            li.nav-item
              a.nav-link(href='/musicas/country') Country
            li.nav-item
              a.nav-link(href='/bossanova') Bossa Nova
            li.nav-item
              a.nav-link(href='/pop') POP Internacional

    .container.mt-4
      h2 Carrossel de Exemplo
      .row
        .col-md-8.offset-md-2
          .carousel.slide(data-ride='carousel', id='carouselExampleSlidesOnly')
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='https://via.placeholder.com/800x400', alt='Primeiro Slide')
              .carousel-item
                img.d-block.w-100(src='https://via.placeholder.com/800x400', alt='Segundo Slide')
              .carousel-item
                img.d-block.w-100(src='https://via.placeholder.com/800x400', alt='Terceiro Slide')
            a.carousel-control-prev(href='#carouselExampleSlidesOnly', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Anterior
            a.carousel-control-next(href='#carouselExampleSlidesOnly', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Próximo

    footer.footer.bg-light.text-center.mt-4.py-3
      .container
        p Copyright © 2024. Todos os direitos reservados.

