{{#content}}
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm border-0">
          <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Búzios">
          <div class="card-body">
            <h5 class="card-title">Búzios</h5>
            <p class="card-text">
              Búzios é uma cidade localizada na Região dos Lagos, no estado do Rio de Janeiro. Conhecida por suas praias paradisíacas e pela sofisticação de sua infraestrutura turística, foi eternizada pela visita da atriz francesa Brigitte Bardot na década de 1960.
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Localização:</strong> Região dos Lagos, Rio de Janeiro, Brasil
              </li>
              <li class="list-group-item">
                <strong>Atrações:</strong> Praia de João Fernandes, Rua das Pedras, Orla Bardot
              </li>
              <li class="list-group-item">
                <strong>Atividades:</strong> Passeios de barco, mergulho, gastronomia
              </li>
            </ul>
            <a href="#" class="btn btn-primary">Saiba Mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/content}}
