<%- include('layout') %>

<div class="content">
  <h1><%= title %></h1>
  <p>Bem-vindo à página do <%= title %>. Aqui você encontrará informações sobre Carros.</p>
  <img src="<%= imageUrl %>" alt="Imagem de carros" class="img-fluid" />
</div>
