<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <img src="<%= imageUrl %>" alt="Carro Imagem">
   
    <div class="btn-container">
      <a href="/carro/supra" class="b1">Supra-MK4</a>
      <a href="/carro/bmw" class="b2">BMW M3-GTR</a>
      <a href="/carro/fusca" class="b3">Fusca</a>
      <a href="/carro/ford-GT" class="b4">Ford-GT</a>
      <a href="/carro/impala67" class="b5">Impala67</a>
  </div>
</body>
</html>
