extends layout

block content
  h1(style="background-color: #f0f0f0; padding: 10px;") Aba de Games

  .container.mt-5(style="background-color: #fff; padding: 20px;")
    h1.text-center(style="color: #333;") Call of Duty
    p(style="color: #555;") Otimo jogo multiplayer massivo que perdura a anos

    #carouselExampleIndicators.carousel.slide(data-ride="carousel")
      ol.carousel-indicators
        li(data-target="#carouselExampleIndicators", data-slide-to="0", class="active")
        li(data-target="#carouselExampleIndicators", data-slide-to="1")
        li(data-target="#carouselExampleIndicators", data-slide-to="2")

      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/202970/capsule_616x353.jpg?t=1654830020", alt="cod bo2")
        .carousel-item
          img.d-block.w-100(src="https://upload.wikimedia.org/wikipedia/pt/8/8f/Modern_Warfare_3_Cover.jpg", alt="cod mw3")
        .carousel-item
          img.d-block.w-100(src="https://store-images.s-microsoft.com/image/apps.24461.66777443557046310.abf0f423-a960-4f91-982f-7c0e898cf325.6577cc39-16b4-4a2e-9981-368c1d0065cd?q=90&w=480&h=270", alt="cod bo3")

      a.carousel-control-prev(href="#carouselExampleIndicators", role="button", data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Anterior

      a.carousel-control-next(href="#carouselExampleIndicators", role="button", data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Próximo

block backButton
  a(href='/esportes') Voltar


  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Surf

  // Adicionando Bootstrap para o carrossel
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

  // Estilos personalizados
  style.
    body
      background-color: #f8f9fa;
    
    .container
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      padding: 20px;
      margin-top: 20px;

    .carousel-item img
      width: 100%;
      height: auto;

  // Scripts do Bootstrap
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
