extends layout

block content
    title Inicio pug 
    h1 Dança
    p A dança é a arte de fazer movimentos ritmados com o corpo.É uma expressão artística<br>
    p  e cênica que envolvem os movimentos corporais em sua relação com diferentes estilos musicais.<br>
    p É o uso do corpo seguindo movimentos previamente estabelecidos (coreografia) ou improvisados (dança livre),<br>
    p com passos ritmados ao som e compasso de uma música, envolvendo a expressão de sentimentos potenciados por ela.<br>
    p A dança é formada por três elementos: movimento corporal, espaço e, tempo.<br>

    h1 Alguns tipos de dança: 
    p  1- Samba. <br>
    p 2- Funk.<br>
    p 3- Zumba. <br>
    p 4- Balé clássico. <br>
    p 5- Dança do ventre.<br>
    p 6- Dança africana. <br>
    p 7- Dança de salão.