<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dança</title>
</head>
<body>
    <ul id="esportes">
        <li>
            <button> <a href='/esportes/danca'> Dança</a></button>  </li>   
        <li>
            <button> <a href='/esportes/volei'> Vôlei</a></button></li> 
        <li>
            <button> <a href='/esportes/basquete'> Basquete</a></button></li> 
        <li>
            <button> <a href='/esportes/golfe'> Golfe</a></button></li> 
        <li>
             <button> <a href='/esportes/hoquei'> Hóquei</a></button>

    <h1>Dança</h1> 
    <p> A dança é a arte de fazer movimentos ritmados com o corpo.É uma expressão artística<br>
      e cênica que envolvem os movimentos corporais em sua relação com diferentes estilos musicais.<br>
     É o uso do corpo seguindo movimentos previamente estabelecidos (coreografia) ou improvisados (dança livre),<br>
     com passos ritmados ao som e compasso de uma música, envolvendo a expressão de sentimentos potenciados por ela.<br>
     A dança é formada por três elementos: movimento corporal, espaço e, tempo.</p>

    <h1>Alguns tipos de dança: </h1> 
    <ul>  
        <li> Samba</li>
        <li> Funk</li>
        <li> Zumba</li>
        <li> Balé Clássico</li>
        <li> Dança do Ventre</li>
        <li> Hip Hop</li>
        <li> Dança de Salão</li>
        <li> Dança contemporânea</li>
    </ul>
    
</body>
</html>
   