<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dubai, Emirados Árabes Unidos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f2f2f2;
            color: #333;
            margin: 0 auto;
            max-width: 800px;
            padding: 20px;
        }
        header {
            background-color: #4CAF50;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        main {
            background-color: white;
            padding: 20px;
            margin-top: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        section {
            margin-bottom: 20px;
        }
        h1 {
            color: white;
            margin-bottom: 10px;
        }
        h2 {
            color: #4CAF50;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 10px;
        }
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Dubai, Emirados Árabes Unidos</h1>
        <img src="https://octane.rent/wp-content/uploads/2023/03/Dubai-frame.webp" width="500" height="250" alt="Imagem de Dubai">
        <p>Descubra a modernidade e a tradição de Dubai</p>
        <button onclick="window.history.back()">Voltar</button>
    </header>
    <main id="content">
        <section id="arranha-ceus">
            <h2>Arranha-céus Futuristas</h2>
            <p>Dubai é conhecida por sua impressionante linha do horizonte repleta de arranha-céus futuristas, como o Burj Khalifa, o edifício mais alto do mundo.</p>
        </section>
        <section id="shopping">
            <h2>Shoppings de Luxo</h2>
            <p>Explore shoppings luxuosos que oferecem desde marcas internacionais de alta moda até produtos exclusivos e experiências de compras únicas.</p>
        </section>
        <section id="desertos">
            <h2>Desertos Fascinantes</h2>
            <p>Aventure-se pelos desertos fascinantes nos arredores de Dubai, onde é possível fazer safáris, passeios de camelo e apreciar belos pôr do sol.</p>
        </section>
        <section id="praias">
            <h2>Praias de Águas Cristalinas</h2>
            <p>Relaxe em praias de águas cristalinas com areias douradas e desfrute de atividades como mergulho, jet ski e passeios de barco.</p>
        </section>
    </main>
</body>
</html>
