<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eletrônica</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
      </header>
    <ul id="musica">
        <li>
         <button><a href="/musica" >Inicio</a></button> 
        </li>
        <li>
          <button><a href='/musica/pop'>Pop</a></button>
        </li>
        <li>
          <button><a href='/musica/eletronica'>Eletrônica</a></button>
        </li>
        <li>
          <button><a href='/musica/trap'>Trap</a></button>
        </li>
        <li>
          <button><a href='/musica/sertanejo'>Sertanejo</a></button>
        </li>
    <h1> Eletrônica</h1>

    <p> A música eletrônica é um gênero musical que utiliza instrumentos e tecnologia eletrônica para produzir sons.
     Suas origens remontam ao início do século XX, com as primeiras experimentações com equipamentos eletrônicos por
     compositores como Thaddeus Cahill e seu Telharmonium, e mais tarde com os trabalhos de Karlheinz Stockhausen.
     Na década de 1960, a música eletrônica começou a ganhar mais visibilidade com a invenção do sintetizador Moog,
     popularizado por músicos como Wendy Carlos e suas interpretações de peças clássicas. Este período marcou o início
     da música eletrônica moderna, com artistas experimentando novos sons e técnicas de produção.
     Nos anos 1970 e 1980, a música eletrônica se diversificou em vários subgêneros. O disco, o synthpop e a new wave
     se tornaram populares, com bandas como Kraftwerk, Depeche Mode e artistas como Giorgio Moroder influenciando a cena
     musical. A introdução de drum machines e sequenciadores revolucionou a produção musical, permitindo a criação de batidas
     precisas e repetitivas.
     A década de 1990 foi um período de grande expansão para a música eletrônica, com o surgimento de gêneros como techno,
     house, trance e drum and bass. Festivais de música eletrônica começaram a se espalhar pelo mundo, e DJs como Carl Cox,
     Paul Oakenfold e Tiësto se tornaram superstars.
     No século XXI, a música eletrônica continuou a evoluir, incorporando influências de outros estilos e se tornando uma
     presença constante nas paradas de sucesso. Gêneros como EDM (Electronic Dance Music) alcançaram grande popularidade,
     com artistas como David Guetta, Calvin Harris e Skrillex liderando as listas de mais ouvidos.
     Hoje, a música eletrônica é um dos gêneros mais influentes e diversificados, abrangendo uma ampla gama de estilos
     e continuando a inovar com novas tecnologias e métodos de produção.
</p>
    
</body>
</html> 
    