<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eletrônica</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1>Eletrônica</h1>
  </header>
  <main>
    <h2>Músicas Eletrônicas</h2>
    <p>Aqui estão algumas músicas eletrônicas para você curtir:</p>

     <!-- Espaço para o player de música -->
     <div class="music-player">
        <!-- Substitua o código abaixo pela embed da música de rock -->
        <!-- Exemplo: embed do YouTube -->
        <iframe width="500" height="315" src="https://www.youtube.com/embed/ALZHF5UqnU4?si=MyH5xYXJDygyvZa8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/60ItHLz5WEA?si=4VZnVz2JjwsCtrkT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/A57B7B6w3kw?si=hCz7whfYrMEfNofg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    <!-- Mais músicas ou informações adicionais -->
    <ul>
      <li><a href="/">Voltar para a Página Inicial</a></li>
      <li><a href="/musicas/rock">Ir para o Rock</a></li>
      <li><a href="/musicas/pop">Ir para o Pop</a></li>
      <li><a href="/musicas/hiphop">Ir para o Hip Hop</a></li>
      <li><a href="/musicas/jazz">Ir para o Jazz</a></li>
    </ul>
  </main>
  <footer>
    <p>&copy; 2024 Todos os direitos reservados.</p>
  </footer>
</body>
</html>
