
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>= <title> </title>
    <!-- Link para o arquivo CSS ou outros recursos -->
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <!-- Cabeçalho e navegação -->
    </header>

    <main>
        <!-- Conteúdo específico da página será inserido aqui -->
        <body>
    </main>

    <footer>
        <p>Copyright © = new Date().getFullYear() My App</p>
        <!-- Outras informações de rodapé -->
    </footer>
</body>
</html>
