extends layout
html
  head
    title= title
  body
    h1 Esportes
    ul
      li: a(href='/esportes/futebol') Futebol
      li: a(href='/esportes/basquete') Basquete
      li: a(href='/esportes/tenis') Tenis
      li: a(href='/esportes/volei') Volei
      li: a(href='/esportes/xadrez') Xadrez
      li: a(href='/esportes/e-sports') E-Sports
