extends layout

block content
  h1= title
  p Bem-vindo(a) ao #{title}. Aqui você encontrará informações detalhadas sobre vários esportes populares.

  .cards
    .card
      h2 Voleibol
      p O voleibol é um esporte dinâmico jogado por duas equipes de seis jogadores em uma quadra dividida por uma rede.
      a(href="/esportes/Volei") Saiba mais

    .card
      h2 Voleibol de Praia
      p O voleibol de praia é uma emocionante variação do voleibol, jogada na areia por duas equipes de dois jogadores.
      a(href="/esportes/VoleiDeAreia") Saiba mais

    .card
      h2 Basquete
      p O basquete, inventado em 1891, é jogado por duas equipes de cinco jogadores cada, em uma quadra retangular com uma cesta em cada extremidade.
      a(href="/esportes/Basquete") Saiba mais

    .card
      h2 Futebol
      p O futebol é jogado por duas equipes de onze jogadores cada, em um campo retangular com um gol em cada extremidade.
      a(href="/esportes/Futebol") Saiba mais
