<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
      </header>
    <ul>
        <li>
          <button><a href="/index"></a>inicio</button>
        </li>
      </ul>
    <ul id="esportes">
        <li>
         <button><a href="/esportes" >Inicio</a></button> 
        </li>
        <li>
          <button><a href='/esportes/danca'>Dança</a></button>
        </li>
        <li>
          <button><a href='/esportes/golfe'>Golfe</a></button>
        </li>
        <li>
          <button><a href='/esportes/basquete'>Basquete</a></button>
        </li>
        <li>
          <button><a href='/esportes/volei'>Vôlei</a></button>
        </li>
    </ul>
   <h1>Inicio</h1> 
    <p> A relação entre a prática de exercícios físicos e a manutenção da saúde mental 
     <br>tornou-se um consenso entre os profissionais de saúde. Pesquisas mostram que 
    <br>o exercício físico regular pode reduzir o risco de depressão e reduzir a perda 
    <br>cognitiva em pacientes com Alzheimer. Uma das descobertas de pesquisas recentes 
    <br>é que exercícios como caminhar, correr ou andar de bicicleta são essenciais para 
    <br>manter a função nervosa saudável, mesmo com a idade mais avançada. Diante do declínio 
    <br>do nível de atividade física da população mundial, a Organização Mundial da Saúde (OMS)
    <br>assumiu que estamos vivenciando a prevalência de estilos de vida sedentários. Ou seja,
    <br> a falta de exercícios não é mais apenas um problema estético, mas um grave problema 
    <br>de saúde pública, causando 2 milhões de mortes a cada ano.
    </p>
</body>
</html>
   