doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    title Esportes
    link(rel="stylesheet", href="styles.css")

  body
    header
      h1 Bem-vindo ao Mundo dos Esportes

    main
      section
        h2 O que são Esportes?
        p Esportes são atividades físicas competitivas ou recreativas que envolvem habilidades físicas e às vezes mentais. Eles variam amplamente e incluem desde esportes individuais como corrida e natação até esportes de equipe como futebol e basquete.

      section
        h2 Benefícios dos Esportes
        p Participar regularmente de atividades esportivas pode trazer muitos benefícios, como melhorar a saúde física, promover o trabalho em equipe e desenvolver habilidades sociais. Além disso, os esportes são uma ótima maneira de aliviar o estresse e melhorar o bem-estar geral.

      section
        h2 Esportes Populares
        ul
          li Futebol
          li Basquete
          li Tênis
          li Natação
          li Atletismo
          li Voleibol
          li Rugby
          li Hóquei

      section
        h2 Esportes e Cultura
        p Os esportes desempenham um papel significativo em muitas culturas ao redor do mundo. Eles podem refletir valores culturais, tradições e identidade nacional. Além disso, eventos esportivos importantes, como as Olimpíadas, unem pessoas de diferentes países e culturas em espírito de competição e camaradagem.

    footer
      p © 2024 Mundo dos Esportes. Todos os direitos reservados.
