doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Esportes
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header
      nav.navbar
        ul.nav-list
          li.nav-item
            a.nav-link(href="/") Início
          li.nav-item
            a.nav-link(href="/esportes") Esportes
          li.nav-item
            a.nav-link(href="#") Estilos Musicais

    main.container
      section
        h2 O que são Esportes?
        p Esportes são atividades físicas competitivas ou recreativas que envolvem habilidades físicas e às vezes mentais. Eles variam amplamente e incluem desde esportes individuais como corrida e natação até esportes de equipe como futebol e basquete.

      section
        h2 Benefícios dos Esportes
        p Participar regularmente de atividades esportivas pode trazer muitos benefícios, como melhorar a saúde física, promover o trabalho em equipe e desenvolver habilidades sociais. Além disso, os esportes são uma ótima maneira de aliviar o estresse e melhorar o bem-estar geral.

      section
        h2 Esportes Populares
        ul
          li.nav-item
            a.nav-link(href="/esportes/volei") Vôlei
          li.nav-item
            a.nav-link(href="/esportes/volei-de-areia") Vôlei de Areia
          li.nav-item
            a.nav-link(href="/esportes/basquete") Basquete
          li.nav-item
            a.nav-link(href="/esportes/futebol") Futebol
          li.nav-item
            a.nav-link(href="/esportes/futebol-de-salao") Futebol de Salão

      section
        h2 Esportes e Cultura
        p Os esportes desempenham um papel significativo em muitas culturas ao redor do mundo. Eles podem refletir valores culturais, tradições e identidade nacional. Além disso, eventos esportivos importantes, como as Olimpíadas, unem pessoas de diferentes países e culturas em espírito de competição e camaradagem.

    footer.footer
      p &copy; 2024 Meu Site
