extends layout
doctype html
html
  head
    title Sports Hub
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
      }
      .navbar {
        background-color: #007bff;
      }
      .navbar-brand, .navbar-nav .nav-link {
        color: #fff;
      }
      .hero {
        background: url('https://via.placeholder.com/1200x400') no-repeat center center;
        background-size: cover;
        height: 400px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .hero h1 {
        font-size: 3rem;
      }
      .content {
        margin: 20px;
      }
      .card {
        margin-bottom: 20px;
      }
      .footer {
        background-color: #007bff;
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
      }
  body
    nav.navbar.navbar-expand-lg.navbar-dark
      a.navbar-brand(href='#') Sports Hub
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='#') Home
          li.nav-item
            a.nav-link(href='#') News
          li.nav-item
            a.nav-link(href='#') Scores
          li.nav-item
            a.nav-link(href='#') Teams
    .hero
      h1 Welcome to Sports Hub
    .content.container
      h2 Latest News
      .row
        .col-md-4
          .card
            img.card-img-top(src='https://via.placeholder.com/150', alt='News Image 1')
            .card-body
              h5.card-title News Title 1
              p.card-text This is a short description of the news.
              a.btn.btn-primary(href='#') Read More
        .col-md-4
          .card
            img.card-img-top(src='https://via.placeholder.com/150', alt='News Image 2')
            .card-body
              h5.card-title News Title 2
              p.card-text This is a short description of the news.
              a.btn.btn-primary(href='#') Read More
        .col-md-4
          .card
            img.card-img-top(src='https://via.placeholder.com/150', alt='News Image 3')
            .card-body
              h5.card-title News Title 3
              p.card-text This is a short description of the news.
              a.btn.btn-primary(href='#') Read More
    .footer
      p © 2024 Sports Hub. All rights reserved.
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
