doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Meu App Node.js com Pug e Bootstrap
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css") 
    
  body
    // Barra de navegação usando Bootstrap
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href="#") Meu App Node.js
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarSupportedContent")
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href="#") Início
            li.nav-item
              a.nav-link(href="#") Sobre
            li.nav-item
              a.nav-link(href="#") Contato

    // Conteúdo principal com Bootstrap
    .container.mt-4
      .row
        // Seção de Vôlei
        .col-md-4
          section#volei.text-center
            h2 Vôlei
            p
              | O vôlei é um esporte praticado por duas equipes, cada uma com 6 jogadores,
              | onde o objetivo é passar a bola sobre a rede de maneira que ela toque no chão
              | do campo adversário.
            img(src="https://olimpiadatododia.com.br/wp-content/uploads/2022/04/Fe-Garay-ataca-USA-Wander-Roberto-COB-1.png", alt="Imagem de Vôlei", class="img-fluid rounded")

        // Seção de Futebol
        .col-md-4
          section#futebol.text-center
            h2 Futebol
            p
              | O futebol é o esporte mais popular do mundo, jogado entre duas equipes de 11
              | jogadores cada, que tentam marcar gols no gol adversário com uma bola.
            img(src="https://static.gazetaesportiva.com/uploads/imagem/2017/01/07/Cristiano-Ronaldo-AFP.jpg", alt="Imagem de Futebol", class="img-fluid rounded")

        // Seção de Handebol
        .col-md-4
          section#handebol.text-center
            h2 Handebol
            p
              | O handebol é um esporte de equipe onde os jogadores usam as mãos para
              | passar e lançar a bola no gol adversário, similar ao futebol, mas com
              | características únicas.
            img(src="https://img.olympics.com/images/image/private/t_s_pog_staticContent_hero_lg/f_auto/primary/j7awlsyq4brhrp6oqv4o", alt="Imagem de Handebol", class="img-fluid rounded")

    // Rodapé sobre esportes
    footer.footer.bg-dark.text-white.py-4
      .container
        p.text-center
          | Este é um rodapé sobre esportes. Aqui você pode colocar informações adicionais, links úteis, etc.

    // Scripts do Bootstrap (jQuery e Popper.js são necessários para alguns componentes do Bootstrap)
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
