extends layout

block content
  h1= title
  p Bem-vindo(a) ao Site de Esportes. Aqui você encontrará informações detalhadas sobre vários esportes populares.

  .cards
    .card
      h2 Futebol
      p O futebol é um dos esportes mais populares do mundo.
      a(href="/esportes/futebol") Saiba mais

    .card
      h2 UFC
      p Conheça os lutadores brasileiros Alex "Poatan" Pereira e Charles Oliveira.
      a(href="/esportes/ufc") Saiba mais

    .card
      h2 Surfe
      p O surfe é um esporte aquático em que o surfista desliza sobre as ondas do mar.
      a(href="/esportes/surfe") Saiba mais
