doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Bootstrap CSS para o carrossel
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    // Estilos personalizados
    style.
      /* Estilos adicionais personalizados */
      /* Aqui você pode adicionar estilos específicos se necessário */
  body
    // texto
    h1.text-center.mt-5 Aqui falamos sobre Esportes
    // Parágrafo abaixo do H1
    p.text-center Aqui você encontrará informações interessantes sobre diversos tipos de esportes. Acompanhe nossos artigos para ficar por dentro das últimas notícias e eventos esportivos.
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='#') Logo
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      div.collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='/') Inicio
          li.nav-item
            a.nav-link(href='/esportes/surf') Surf
          li.nav-item
            a.nav-link(href='/esportes/futebol') Futebol
          li.nav-item
            a.nav-link(href='/esportes/corrida') Corrida
            li.nav-item.active
            a.nav-link(href='/esportes/basquete') Basquete
          li.nav-item
            a.nav-link(href='/esportes') Esportes

    // Carrossel de imagens
    .carousel.slide(id='carouselExampleIndicators', data-ride='carousel')
      ol.carousel-indicators
        li(data-target='#carouselExampleIndicators', data-slide-to='0', class='active')
        li(data-target='#carouselExampleIndicators', data-slide-to='1')
        li(data-target='#carouselExampleIndicators', data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='https://i.ytimg.com/vi/wec7wEhDTNw/maxresdefault.jpg', alt='First slide')
        .carousel-item
          img.d-block.w-100(src='https://m.extra.globo.com/incoming/23766063-a53-30a/w640h360-PROP/473a0130.png', alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='https://istoe.com.br/wp-content/uploads/2020/08/cr7.jpg', alt='Third slide')
      a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next

    // Conteúdo principal
    block content

    // Footer
    footer.footer.mt-auto.py-3.bg-light
      .container.text-center
        span.text-muted Numero de contato de Bauer é 9999999999.

    // JavaScript e bibliotecas
    // jQuery, Popper.js e Bootstrap JS para o carrossel
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
