extends layout

block content
  main
    section
      h1 Welcome to Atletismo Sports
      p Explore the world of athletics with us. Get the latest updates on events, results, and athletes.

    section
      h2 Latest Events
      ul
        li: a(href='#') World Championships in Athletics
        li: a(href='#') Olympic Games
        li: a(href='#') Boston Marathon

    section
      h2 Recent Results
      ul
        li: a(href='#') National Athletics Championships
        li: a(href='#') London Marathon
        li: a(href='#') Diamond League Meet

    section
      h2 Featured Athletes
      ul
        li: a(href='#') Usain Bolt - The world's fastest man.
        li: a(href='#') Allyson Felix - Olympic sprinter and multiple gold medalist.
        li: a(href='#') Eliud Kipchoge - Marathon world record holder.
