<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-link" href="/">Início</a></li>
          <li class="nav-item"><a class="nav-link" href="/esportes">Esportes</a></li>
          <li class="nav-item"><a class="nav-link" href="/estilosmusicais">Estilos Musicais</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <section>
        <h2>O que são Esportes?</h2>
        <p>Esportes são atividades físicas competitivas ou recreativas que envolvem habilidades físicas e às vezes mentais. Eles variam amplamente e incluem desde esportes individuais como corrida e natação até esportes de equipe como futebol e basquete.</p>
      </section>
      <section>
        <h2>Benefícios dos Esportes</h2>
        <p>Participar regularmente de atividades esportivas pode trazer muitos benefícios, como melhorar a saúde física, promover o trabalho em equipe e desenvolver habilidades sociais. Além disso, os esportes são uma ótima maneira de aliviar o estresse e melhorar o bem-estar geral.</p>
      </section>
      <section>
        <h2>Esportes Populares</h2>
        <ul>
          <li class="nav-item"><a class="nav-link" href="/esportes/volei">Vôlei</a></li>
          <li class="nav-item"><a class="nav-link" href="/esportes/volei-de-areia">Vôlei de Areia</a></li>
          <li class="nav-item"><a class="nav-link" href="/esportes/basquete">Basquete</a></li>
          <li class="nav-item"><a class="nav-link" href="/esportes/futebol">Futebol</a></li>
          <li class="nav-item"><a class="nav-link" href="/esportes/futebol-de-salao">Futebol de Salão</a></li>
        </ul>
      </section>
      <section>
        <h2>Esportes e Cultura</h2>
        <p>Os esportes desempenham um papel significativo em muitas culturas ao redor do mundo. Eles podem refletir valores culturais, tradições e identidade nacional. Além disso, eventos esportivos importantes, como as Olimpíadas, unem pessoas de diferentes países e culturas em espírito de competição e camaradagem.</p>
      </section>
    </main>
    <footer class="footer">
      <p>&copy; 2024 Meu Site</p>
    </footer>
  </body>
</html>