doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Meu App Node.js com Pug e Bootstrap
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css") 
    
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href="#") Meu App Node.js
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarSupportedContent")
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href="#") Início
            li.nav-item
              a.nav-link(href="#") Sobre
            li.nav-item
              a.nav-link(href="#") Contato
    .container.mt-4
      .row
        .col-md-4
          section#volei.text-center
            h2
              a(href="/esportes/volei") Vôlei
            p
              | O vôlei é um esporte praticado por duas equipes, cada uma com 6 jogadores,
              | onde o objetivo é passar a bola sobre a rede de maneira que ela toque no chão
              | do campo adversário.
            a(href="/volei")
              img(src="https://images01.brasildefato.com.br/caaa16e2c9f0c0f61d42e9009b630508.jpeg", alt="Imagem de Vôlei", class="img-fluid rounded")

        .col-md-4
          section#futebol.text-center
            h2
              a(href="/esportes/futebol") Futebol
            p
              | O futebol é o esporte mais popular do mundo, jogado entre duas equipes de 11
              | jogadores cada, que tentam marcar gols no gol adversário com uma bola.
            a(href="/futebol")
              img(src="https://respostas.sebrae.com.br/wp-content/uploads/2021/07/soccer-1457988_640-959x615.jpg", alt="Imagem de Futebol", class="img-fluid rounded")

        .col-md-4
          section#handebol.text-center
            h2
              a(href="/esportes/handball") Handball
            p
              | O handebol é um esporte de equipe onde os jogadores usam as mãos para
              | passar e lançar a bola no gol adversário, similar ao futebol, mas com
              | características únicas.
            a(href="/handball")
              img(src="https://www.fisu.net/app/uploads/2023/09/handball.jpg", alt="Imagem de Handebol", class="img-fluid rounded")

        .col-md-4
          section#basquete.text-center
            h2
              a(href="/esportes/basquete") Basquete
            p
              | O basquete é um esporte de equipe jogado por dois times de cinco jogadores
              | cada um, onde o objetivo é marcar pontos lançando uma bola através de uma
              | cesta.
            a(href="/basquete")
              img(src="https://s2-ge.glbimg.com/oHgXVbDcY7OlY_qAT1pJrlsRvBU=/0x0:2560x1749/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2022/1/6/5DTSLATt6hmbyvlZP3IQ/gettyimages-1370228007.jpg", alt="Imagem de Basquete", class="img-fluid rounded")

    // Rodapé sobre esportes
    footer.footer.bg-dark.text-white.py-4
      .container
        p.text-center
          | Este é um rodapé sobre esportes. Aqui você pode colocar informações adicionais, links úteis, etc.

    // Scripts do Bootstrap (jQuery e Popper.js são necessários para alguns componentes do Bootstrap)
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
