extends layout

block content
  h1= title
  h2 Lista de Melhores Esportes
  nav
    ul
      li
        a(href='/esportes/Volei') Volei
      li
        a(href='/esportes/Volei de areia') Volei de Areia
      li
        a(href='/esportes/Basquete') Basquete
      li
        a(href='/esportes/Futebol') Futebol
