extends layout

block content

    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container
            a.navbar-brand(href="#") Seu Aplicativo
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link(href="/") Página Inicial
                    li.nav-item
                        a.nav-link(href="/sobre") Sobre
                    li.nav-item
                        a.nav-link(href="/contato") Contato

    .jumbotron.jumbotron-fluid.bg-light.text-center
        .container
            h1.display-4 Esportes Populares no Brasil
            p.lead Selecione um esporte para mais informações.

    .container.mt-4
        ul.list-group
            li.list-group-item
                a(href="/esportes/futebol") Futebol
            li.list-group-item
                a(href="/esportes/volei") Vôlei
            li.list-group-item
                a(href="/esportes/futsal") Futsal
            li.list-group-item
                a(href="/esportes/tenis-de-mesa") Tênis de Mesa
            li.list-group-item
                a(href="/esportes/natacao") Natação

    footer.footer.bg-light.text-center.text-muted.py-3
        .container
            p © 2024 Seu Nome de Site

    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
