extends layout

block content
  h1= title
  p Bem vindo a página #{title}

  // Cabeçalho com Navbar (igual ao layout fornecido)

  // Conteúdo Principal
  main.main-content
    .container.text-center
      // Primeira Linha de Quadrados
      .row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-4
        // Quadrado - Vôlei
        .col.mb-4
          .border.text-center.p-4
            img.img-fluid(src="https://esporte.liste.com.br/wp-content/uploads/2020/06/volei.jpg" alt="Vôlei")
            h5.text-dark Vôlei
            p.text-muted O vôlei é um esporte de equipe que envolve dois times separados por uma rede, cada um tentando marcar pontos...
        
        // Quadrado - Futebol
        .col.mb-4
          .border.text-center.p-4
            img.img-fluid(src="https://img.freepik.com/fotos-gratis/sucesso-na-grama-uma-bola-de-futebol-gerada-por-ai_188544-9819.jpg" alt="Futebol")
            h5.text-dark Futebol
            p.text-muted O futebol é o esporte mais popular do mundo, jogado entre duas equipes de onze jogadores cada em um campo retangular...

        // Quadrado - Basquete
        .col.mb-4
          .border.text-center.p-4
            img.img-fluid(src="https://wallpapers.com/images/hd/4k-basketball-background-7e3bs5fi4o0umshr.jpg" alt="Basquete")
            h5.text-dark Basquete
            p.text-muted O basquete é um esporte de equipe jogado em uma quadra retangular, onde os jogadores tentam marcar pontos...

        // Quadrado - Ping-Pong
        .col.mb-4
          .border.text-center.p-4
            img.img-fluid(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNBqrBwJTG_ywUBLANtNRfV1jicpqPmJzSkQ&s" alt="Ping-Pong")
            h5.text-dark Ping-Pong
            p.text-muted O ping-pong, também conhecido como tênis de mesa, é um esporte de raquete disputado entre dois jogadores ou duplas...

        // Quadrado - Golf
        .col.mb-4
          .border.text-center.p-4
            img.img-fluid(src="https://images.pexels.com/photos/209774/pexels-photo-209774.jpeg" alt="Golf")
            h5.text-dark Golf
            p.text-muted O golfe é um esporte que consiste em jogar uma bola em um buraco utilizando o menor número possível de tacadas em um campo...

        // Quadrado - Natação
        .col.mb-4
          .border.text-center.p-4
            img.img-fluid(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgPJlrdlmCZXWgZWE_FurERha8i7eJrjJuDQ&s" alt="Natação")
            h5.text-dark Natação
            p.text-muted A natação é um esporte onde os participantes se movem através da água utilizando os braços e as pernas, com o objetivo de...

    // Rodapé (igual ao layout fornecido)

  // Script do Bootstrap no final da página
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")
