extends layout

block content
    doctype html
    html(lang='pt-br')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Esportes no Brasil
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .container.mt-4
        h1.text-center Esportes Populares no Brasil
        ul.list-group
            li.list-group-item Futebol
            li.list-group-item Vôlei
            li.list-group-item Basquete
            li.list-group-item Futsal
            li.list-group-item Surf
            li.list-group-item Jiu-Jitsu
            li.list-group-item Capoeira
            li.list-group-item Tênis de Mesa
            li.list-group-item Natação
            li.list-group-item Skate
            li.list-group-item Judô
            li.list-group-item Atletismo
            li.list-group-item MMA
            li.list-group-item Handebol
            li.list-group-item Ginástica Olímpica
            li.list-group-item Ciclismo
            li.list-group-item Automobilismo
            li.list-group-item Tênis
            li.list-group-item Rugby

        footer.footer.bg-light.text-center.text-muted.py-3
        .container
            p © 2024 Seu Nome de Site

    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
