
extends layout

block content
      main
        section#home
          h1 Welcome to #{title}
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
            | vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus,
            | ac blandit elit tincidunt id.
          img(src='/images/home.jpg', alt='Home Image')

        section#about
          h2 About Us
          p
            | Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            | enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            | aliquip ex ea commodo consequat.
          img(src='/images/about.jpg', alt='About Image')

        section#contact
          h2 Contact Us
          p
            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            | dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          img(src='/images/contact.jpg', alt='Contact Image')


