doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Esportes

    style.
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
        color: #333;
      }
      header {
        background-color: #2AD5DB ;
        color: #fff;
        text-align: center;
        padding: 1rem 0;
        margin-bottom: 20px;
      }
      main {
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
      h1, h2 {
        color: #333;
        text-align: center;
        margin-bottom: 15px;
      }
      h2 {
        border-bottom: 2px solid #333;
        padding-bottom: 5px;
      }
      p {
        margin-bottom: 10px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      li {
        margin-bottom: 5px;
      }
      footer {
        text-align: center;
        margin-top: 20px;
        color: #777;
      }

  body
    header
      h1 Esportes
      p Bem-vindo ao mundo dos esportes!

    main
      section
        h2 O que são esportes?
        p Esportes são atividades físicas que envolvem competição e habilidade. Eles podem ser praticados individualmente ou em equipe, promovendo saúde e bem-estar.

      section
        h2 Tipos de esportes
        ul
          li 
            <a href="esportes/futebol"> Futebol</a>
          li 
            <a href="esportes/basquete"> Basquete</a>
          li 
            <a href="esportes/volei"> Vôlei</a>
          li 
            <a href="esportes/xadrez"> Xadrez</a>
         
      section
        h2 Benefícios dos esportes
        ul
          li Melhora da saúde física e mental
          li Desenvolvimento de habilidades sociais
          li Fomento ao trabalho em equipe
          li Diversão e entretenimento
          li Redução do estresse

      section
        h2 Importância da prática esportiva
        p A prática regular de esportes é essencial para manter um estilo de vida saudável e ativo. Além dos benefícios físicos, os esportes promovem valores como disciplina, superação e respeito às regras.
    footer
      p Feito por Nicoly e Camila ❤️ 
   
