doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    title Rebaixamentos do Grêmio

  body
    header
      h1 Rebaixamentos do Grêmio Foot-Ball Porto Alegrense

    main
      section
        h2 Temporada 1991
        p Na temporada de 1991, o Grêmio foi rebaixado pela primeira vez em sua história, terminando em 25º lugar no Campeonato Brasileiro.

      section
        h2 Temporada 2004
        p Em 2004, o Grêmio foi novamente rebaixado no Campeonato Brasileiro, após uma campanha complicada.

      section
        h2 Temporada 2012
        p Na temporada de 2012, o Grêmio enfrentou seu terceiro rebaixamento, novamente no Campeonato Brasileiro, encerrando uma série de participações consecutivas na elite do futebol brasileiro.

    footer
      p © 2024 Grêmio Foot-Ball Porto Alegrense. Todos os direitos reservados.
