doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    title Títulos do Flamengo

  body
    header
      h1 Títulos do Clube de Regatas do Flamengo

    main
      section
        h2 Campeonato Brasileiro (7 títulos)
        ul
          li 1980
          li 1982
          li 1983
          li 1987
          li 1992
          li 2009
          li 2019

      section
        h2 Copa Libertadores da América (2 títulos)
        ul
          li 1981
          li 2019

      section
        h2 Copa do Brasil (3 títulos)
        ul
          li 1990
          li 2006
          li 2013

      section
        h2 Campeonato Carioca (37 títulos)
        // Exemplo com alguns títulos
        ul
          li 1914
          li 1920
          li 1939
          li 1942
          li 1953
          li 1963
          li 1996
          li 2000
          li 2020

    footer
      p © 2024 Clube de Regatas do Flamengo. Todos os direitos reservados.
