extends layout

block content
  h1 Aba de Esportes
  ul
    li: a(href='/sport/surf') Surf
    li: a(href='/sport/futebol') Futebol
    li: a(href='/sport/jiujitsu') jiu jitsu
    li: a(href='/sport/basquete') Basquete
  a(href='/') Voltar
