extends layout

block content
  h1 Aba de Esportes
  ul
    li: a(href='/esportes/surf') Surf
    li: a(href='/esportes/futebol') Futebol
    li: a(href='/esportes/volei') Volei
    li: a(href='/esportes/basquete') Basquete
  a(href='/') Voltar
