<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilos Musicais</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-link" href="/">Início</a></li>
          <li class="nav-item"><a class="nav-link" href="/esportes">Esportes</a></li>
          <li class="nav-item"><a class="nav-link" href="/estilosmusicais">Estilos Musicais</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <section>
        <h2>O que são Estilos Musicais?</h2>
        <p>Os estilos musicais são categorias que identificam algumas peças musicais como pertencentes a uma tradição ou conjunto de convenções.</p>
      </section>
      <section>
        <h2>Estilos Musicais Populares</h2>
        <ul>
          <li class="nav-item"><a class="nav-link" href="/estilosmusicais/rock">Rock</a></li>
          <li class="nav-item"><a class="nav-link" href="/estilosmusicais/pop">Pop</a></li>
          <li class="nav-item"><a class="nav-link" href="/estilosmusicais/eletronica">Eletrônica</a></li>
          <li class="nav-item"><a class="nav-link" href="/estilosmusicais/hip-hop">Hip-Hop</a></li>
          <li class="nav-item"><a class="nav-link" href="/estilosmusicais/jazz">Jazz</a></li>
        </ul>
      </section>
      <section>
        <h2>Estilos Musicais e Cultura</h2>
        <p>Os estilos musicais desempenham um papel significativo em muitas culturas ao redor do mundo. Eles podem refletir valores culturais, tradições e identidade nacional.</p>
      </section>
    </main>
    <footer class="footer">
      <p>&copy; 2024 Meu Site</p>
    </footer>
  </body>
</html>
