extends layout

block content
  .container.py-4
    .row
      .col-md-4.mb-4
        .card.shadow-sm.border-0
          img.card-img-top(src="https://via.placeholder.com/300x200", alt="Fernando de Noronha")
          .card-body
            h5.card-title Fernando de Noronha
            p.card-text
              | Fernando de Noronha é um arquipélago brasileiro localizado no estado de Pernambuco. Conhecido por suas praias paradisíacas, águas cristalinas e ecossistema marinho diversificado, é um destino popular para mergulhadores e amantes da natureza.
            ul.list-group.list-group-flush
              li.list-group-item
                strong Localização:
                |  Estado de Pernambuco, Brasil
              li.list-group-item
                strong Atrações:
                |  Praia do Sancho, Baía dos Porcos, Morro do Pico
              li.list-group-item
                strong Atividades:
                |  Mergulho, observação de golfinhos, trilhas
            a.btn.btn-primary(href="#") Saiba Mais
