extends layout

block content
  h1= "França"
  

  .row
    .col-md-4.mb-4
      .card
        img.card-img-top(src='https://123ecos.com.br/wp-content/uploads/2022/11/franca.jpg', alt='Futebol', style='height: 300px; object-fit: cover;')
        .card-body
          h5.card-title França
          p.card-text A França é legal