doctype html
html(lang="pt-br")
  head
    title Futebol
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    header
      h1 Futebol
    main
      h2 Bem-vindo ao Futebol!
      p O futebol é um esporte coletivo jogado entre duas equipes de 11 jogadores cada. O objetivo é marcar mais gols do que o adversário.
      ul
        li
          a(href="/") Voltar para a Página Inicial
        li
          a(href="/esportes/surf") Ir para a Sinuca
        li
          a(href="/esportes/volei") Ir para o Vôlei
    footer
      p &copy; 2024 Todos os direitos reservados.
