<!DOCTYPE html>
<html>

<head>
  <title>Futebol</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  <header class="bg-dark text-white py-4">
    <div class="container">
      <h1 class="text-center">Futebol</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Página Principal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/esportes/volei">Vôlei</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/esportes/judo">Judô</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/esportes/basquete">Basquete</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section class="py-5">
    <div class="container">
      <h2 class="text-center">Sobre o Futebol</h2>
      <p class="text-center">O futebol é um dos esportes mais populares do mundo.</p>
      <img src="../imagens/futebol.webp" class="img-fluid mx-auto d-block" alt="Imagem de futebol">
    </div>
  </section>

</body>

</html>
