extends layout

block content
  h1= "Futebol"
  
  .row
    .col-md-4.mb-4
      .card
        img.card-img-top(src='https://a.storyblok.com/f/112937/568x464/7dd062feb7/truth_english_football_hero.jpg/m/620x0/filters:quality(70)/', alt='Futebol', style='height: 300px; object-fit: cover;')
        .card-body
          h5.card-title Futebol
          p.card-text O futebol é um dos esportes mais populares do mundo.
