doctype html
html
  head
    title Futebol
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    header.bg-primary.text-white.py-4
      div.container
        h1.text-center Futebol
        nav.navbar.navbar-expand-lg.navbar-dark
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          div.collapse.navbar-collapse#navbarNav
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href="/") Página Principal
              li.nav-item
                a.nav-link(href="volei") Vôlei
              li.nav-item
                a.nav-link(href="judo") Judô
              li.nav-item
                a.nav-link(href="basquete") Basquete
    section.py-5
      div.container
        h2.text-center Sobre o Futebol
        p.text-center O futebol é um dos esportes mais populares do mundo.
        img.img-fluid.mx-auto.d-block(src="../imagens/futebol.webp" alt="Imagem de futebol")
