extends layout

block content
  h1= title
  h2 Futebol
  p
    | O futebol é o esporte mais popular do mundo, jogado entre duas equipes de onze jogadores cada em um campo retangular. O objetivo é marcar gols ao colocar a bola na meta adversária.
