doctype html
html
  head
    title Futebol
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') Futebol
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='#', onclick='navigateTo("/times")') Times
          li.nav-item
            a.nav-link(href='#', onclick='navigateTo("/jogadores")') Jogadores
          li.nav-item
            a.nav-link(href='#', onclick='navigateTo("/campeonatos")') Campeonatos
          li.nav-item
            a.nav-link(href='#', onclick='navigateTo("/contato")') Contato

    .container
      .row
        .col
          h1 Bem-vindo ao site de Futebol
          p Explore as diferentes seções através do menu acima.

    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script.
      function navigateTo(route) {
        window.location.href = route;
      }
