<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Futebol</title>
</head>
<body>
  <%- include('layout') %>

  <%- content %>
    <h1>Futebol</h1>
    <p>O futebol, conhecido como "o esporte rei", é jogado por duas equipes de onze jogadores cada, em um campo retangular com um gol em cada extremidade.</p>

    <div class="futebol-content">
      <h2>Regras Essenciais</h2>
      <ul>
        <li>Uma partida é dividida em dois tempos de 45 minutos cada, com um intervalo de 15 minutos.</li>
        <li>Apenas o goleiro pode usar as mãos e apenas dentro de sua própria área de gol.</li>
        <li>Faltas e infrações são penalizadas com tiros livres ou pênaltis, dependendo da gravidade e localização da infração.</li>
      </ul>

      <h2>Posições dos Jogadores</h2>
      <ul>
        <li>Goleiro: Defende o gol e é o único jogador que pode usar as mãos.</li>
        <li>Defensores: Protegem a área próxima ao gol e impedem os ataques adversários.</li>
        <li>Meio-campistas: Ligam a defesa ao ataque, auxiliando em ambas as funções.</li>
        <li>Atacantes: Responsáveis por marcar gols.</li>
      </ul>
    </div>
  </%- content %>
</body>
</html>
