%- include('layout') %

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Internacional: O Maior Time do Sul de futebol</title>
  <!-- Adicionando Bootstrap para o carrossel -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Estilos personalizados -->
  <style>
    .carousel-item img {
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center">%= title %</h1>
    <p>so falo de futebol se for pra falar do pai do barcelona</p>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTURP8NBbIxrraC9AjlNrdI3RVarkgSiwuiSg&usqp=CAU" alt="maior do sul">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://fotos.agenciapreview.com/img-get2/I0000ysMAiS9Qmhk/fit=1000x750/Mundial-Interclubes-142.jpg" alt="único FIFA de Porto">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://ge.globo.com/ESP/Home/foto/0,,12272756,00.jpg" alt="inter eu te amo">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </div>
  <!-- Scripts do Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
