head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    style.
      /* Estilos CSS inline para este exemplo */
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
      }
      header {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
      }
      footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
      .container {
        width: 80%;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px auto;
      }
body
    header
      h1 Bem-vindo ao Mundo do Futebol
    .container
      section
        h2 O que é o Futebol?
        p O futebol é um esporte praticado entre duas equipes de 11 jogadores cada, que buscam marcar gols no gol adversário.

      section
        h2 História do Futebol
        p O futebol moderno teve suas origens na Inglaterra no século XIX, e desde então se espalhou pelo mundo inteiro.

      section
        h2 Grandes Competições
        p O futebol é conhecido por suas grandes competições como a Copa do Mundo da FIFA e a UEFA Champions League.

      section
        h2 Curiosidades
        p Existem mais de 250 milhões de jogadores de futebol registrados em todo o mundo.

      section
        h2 Imagens de Futebol
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlPBSX2RJTCFphUJHtvK3upguaSyQx-LmYTA&s", alt="Imagem 1")
    
    footer
      p © 2024 Página de Futebol. Todos os direitos reservados.
