extends layout

block content
  h1= title
  p so falo de futebol se for pra falar do pai do barcelona  

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Internacional: O Maior Time do Sul de futebol 
    // Adicionando Bootstrap para o carrossel
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    // Estilos personalizados
    style.
      .carousel-item img
        width: 100%;
        height: auto;
  body
    
    .container.mt-5
      h1.text-center Internacional: O Maior Time do Sul
      #carouselExampleIndicators.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
          li(data-target="#carouselExampleIndicators", data-slide-to="0", class="active")
          li(data-target="#carouselExampleIndicators", data-slide-to="1")
          li(data-target="#carouselExampleIndicators", data-slide-to="2")
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTURP8NBbIxrraC9AjlNrdI3RVarkgSiwuiSg&usqp=CAU", alt="maior do sul")
          .carousel-item
            img.d-block.w-100(src="https://fotos.agenciapreview.com/img-get2/I0000ysMAiS9Qmhk/fit=1000x750/Mundial-Interclubes-142.jpg", alt="unico fifa de porto")
          .carousel-item
            img.d-block.w-100(src="https://ge.globo.com/ESP/Home/foto/0,,12272756,00.jpg", alt="inter eu te amo")
        a.carousel-control-prev(href="#carouselExampleIndicators", role="button", data-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.sr-only Anterior
        a.carousel-control-next(href="#carouselExampleIndicators", role="button", data-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.sr-only Próximo
    // Scripts do Bootstrap
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
