extends layout

block content
  h1 Futebol

  section
    h2 O que é Futebol?
    p 
      | O futebol é o esporte mais popular do mundo, jogado entre duas equipes de 11 jogadores cada. O objetivo é marcar gols no gol adversário, utilizando os pés para chutar a bola.

  section
    h2 Equipamentos Necessários
    ul
      li Bola de Futebol
      li Uniforme esportivo (camiseta, calção, meias)
      li Chuteiras adequadas para o tipo de gramado

  section
    h2 Regras Básicas
    p 
      | As regras do futebol incluem não tocar a bola com as mãos ou braços (exceto pelo goleiro dentro da área), não cometer faltas e evitar o impedimento ao atacar.

  section
    h2 Imagens de Futebol
    .gallery
      img(src="/images/futebol1.jpg", alt="Jogadores de futebol em ação")
      img(src="/images/futebol2.jpg", alt="Bola de futebol")
      img(src="/images/futebol3.jpg", alt="Goleiro defendendo o gol")
