extends layout

block content
  h1 Futebol
  p O futebol, conhecido como "o esporte rei", é jogado por duas equipes de onze jogadores cada, em um campo retangular com um gol em cada extremidade.
  .futebol-content
    h2 Regras Essenciais
    ul
      li Uma partida é dividida em dois tempos de 45 minutos cada, com um intervalo de 15 minutos.
      li Apenas o goleiro pode usar as mãos e apenas dentro de sua própria área de gol.
      li Faltas e infrações são penalizadas com tiros livres ou pênaltis, dependendo da gravidade e localização da infração.
    h2 Posições dos Jogadores
    ul
      li Goleiro: Defende o gol e é o único jogador que pode usar as mãos.
      li Defensores: Protegem a área próxima ao gol e impedem os ataques adversários.
      li Meio-campistas: Ligam a defesa ao ataque, auxiliando em ambas as funções.
      li Atacantes: Responsáveis por marcar gols.