{{> layout}}

{{#content}}
  <h1>Futebol</h1>
  
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="https://a.storyblok.com/f/112937/568x464/7dd062feb7/truth_english_football_hero.jpg/m/620x0/filters:quality(70)/" alt="Futebol" style="height: 300px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Futebol</h5>
          <p class="card-text">O futebol é um dos esportes mais populares do mundo.</p>
        </div>
      </div>
    </div>
  </div>
{{/content}}
