doctype html
html
  head
    title Confronto entre Inter e Grêmio
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
      }
      .header {
        text-align: center;
        padding: 20px;
        background-color: #333;
        color: #fff;
      }
      .content {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
      .team {
        flex: 1;
        padding: 20px;
        margin: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .team h2 {
        text-align: center;
      }
      .team img {
        display: block;
        margin: 0 auto 20px;
        width: 100px;
        height: auto;
      }
      .match-info {
        text-align: center;
        margin-top: 40px;
      }
  body
    nav.navbar.navbar-expand-lg.navbar-dark
      a.navbar-brand(href='#') Sports Hub
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/index') Home
          li.nav-item
            a.nav-link(href='/esportes/futebol') futubol
          li.nav-item
            a.nav-link(href='/esportes/boxe') boxe
          li.nav-item
            a.nav-link(href='/esportes/surf') surf
    .hero
      h1 Seja bem-vindo ao Sports Hub 
    .content.container
      block content
    .footer
      p © 2024 Sports Hub. All rights reserved.
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    .header
      h1 Confronto entre Inter e Grêmio
      p O clássico Gre-Nal
    block content
      .content
        .team
          h2 Internacional
          img(src="https://upload.wikimedia.org/wikipedia/en/thumb/3/35/SC_Internacional_crest.svg/1200px-SC_Internacional_crest.svg.png" alt="Internacional logo")
          p Fundado em: 1909
          p Estádio: Beira-Rio
        .team
          h2 Grêmio
          img(src="https://upload.wikimedia.org/wikipedia/en/thumb/1/10/Gremio_logo.svg/1200px-Gremio_logo.svg.png" alt="Grêmio logo")
          p Fundado em: 1903
          p Estádio: Arena do Grêmio
      .match-info
        h2 Próximo Confronto
        p Data: 25 de Julho de 2024
        p Local: Estádio Beira-Rio
        p Horário: 16:00
