extends layout 

block content


    h1 Futebol 

    p O futebol é um esporte coletivo que não tem uma origem bem definida,<br>
    p uma vez que diversos jogos de bola semelhantes a ele já eram praticados <br>
    p por povos da Antiguidade.

    h1 Regras 
    p Cada partida tem 90 minutos e é dividida em dois tempos de 45 minutos cada.<br>
    p O jogo é supervisionado por um árbitro.
    p É proibido o uso das mãos para o manejo da bola. Podem, entretanto, serem usados os pés, as pernas, o tronco e a cabeça.
    p Para evitar que os jogadores do time adversário fiquem apenas na área penal do lado adversário, foi criada a regra do<br>
    p impedimento. Ela consiste em impedir ou invalidar um gol que tenha sido feito por um jogador quando não há pelo menos dois<br>
    p jogadores da outra equipe entre ele a linha de fundo adversária.
    p O vencedor da partida é aquele que conseguir fazer o maior número de gols.
    p Em caso de desempate, podem ser feitas duas prorrogações de 15 minutos ao final dos tempos.
    p Quando um jogador comete faltas, ele pode receber um cartão amarelo ou um cartão vermelho. Se receber dois cartões amarelos <br>
    p ou um cartão vermelho em uma partida, ele é expulso do jogo
    p Caso um jogador execute alguma agressão física sobre um adversário, o juiz deve marcar pênalti a favor do time adversário.
    p Quando a bola sai do campo pela linha de fundo, é cobrado escanteio se o último jogador a tocá-la estava na defensiva, e é<br>
    p cobrado tiro de meta se o último jogador a tocá-la estava no ataque. Nesse caso, o escanteio é a favor do time atacante e o <br>
    p tiro de meta, a favor do time da defensiva.
