{{#content}}
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm border-0">
          <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Futsal">
          <div class="card-body">
            <h5 class="card-title">Futsal</h5>
            <p class="card-text">
              O futsal é uma variação do futebol jogada em quadra, com times menores e regras adaptadas para o jogo indoor. É rápido e dinâmico, exigindo habilidades técnicas e estratégicas.
            </p>
            <a href="#" class="btn btn-primary">Saiba Mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/content}}
