extends layout

block content
  .container.py-4
    .row
      .col-md-4.mb-4
        .card.shadow-sm.border-0
          img.card-img-top(src="https://via.placeholder.com/300x200", alt="Futsal")
          .card-body
            h5.card-title Futsal
            p.card-text
              | O futsal é uma variação do futebol jogada em quadra, com times menores e regras adaptadas para o jogo indoor. É rápido e dinâmico, exigindo habilidades técnicas e estratégicas.
            a.btn.btn-primary(href="#") Saiba Mais
