<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Futsal</title>
</head>
<body>

  <header>
    <h1>Futsal: O que é?</h1>
    <p>O futsal é uma modalidade esportiva semelhante ao futebol de campo, porém praticada em uma quadra fechada por duas equipes de 5 jogadores cada.</p>
  </header>

  <main>

    <section>
      <h2>História do Futsal</h2>
      <p>O futsal teve origem na década de 1930 no Uruguai e logo se espalhou pela América do Sul e Europa, ganhando popularidade como uma versão do futebol adaptada para ambientes fechados.</p>
    </section>

    <section>
      <h2>Grandes Competições de Futsal</h2>
      <p>O futsal é conhecido por suas competições internacionais como a Copa do Mundo de Futsal da FIFA e a UEFA Futsal Champions League, que reúnem as melhores equipes do mundo.</p>
    </section>

    <section>
      <h2>Curiosidades sobre o Futsal</h2>
      <p>Atualmente, o futsal é praticado por milhões de pessoas em todo o mundo e é reconhecido por sua dinâmica rápida e habilidades técnicas exigidas dos jogadores.</p>
    </section>

    <section>
      <h2>Imagens de Futsal</h2>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMKuDmgkD1QIWWYHZkUN9j1VqHInPd-DkVeA&s" alt="Imagem 1">
    </section>

  </main>

  <footer>
    <p>© 2024 Página de Futsal. Todos os direitos reservados.</p>
  </footer>

</body>
</html>
