extends layout

block content
  h1 Tela de jogos
  ul
    li: a(href='/games/cod') Call of Duty
    li: a(href='/games/gow') God of War
    li: a(href='/games/vava') Valorant
    li: a(href='/games/mine') Minecraft
    li: a(href='/games/nfs') Need For Speed
  a(href='/') Voltar
