extendes layout.pug 

block content
    title Inicio pug 
    h1 Golfe 
    p Golfe é um esporte no qual os jogadores usam diversos tipos de tacos <br>
    p para arremessar uma bola para uma série de buracos numa vasta extensão de <br>
    p terreno (campo de golfe), usando o menor número possível de tacadas.<br>
    p É um dos poucos desportos com bola que não exige uma área de jogo normalizada. <br>
    p Em vez disso, o desporto é praticado num campo de golfe, o qual geralmente <br>
    p consiste numa progressão de nove ou dezoito buracos. Cada buraco inclui uma <br>
    p área de terreno inicial (tee) e uma área final (putting green), na qual se <br>
    p encontra uma bandeira e o buraco propriamente dito. Entre as duas áreas <br>
    p existem diversos tipos padronizados de terreno e obstáculos (caixas de <br>
    p areia, lagos, rios, poças etc), e cada buraco possui uma configuração <br>
    p única (podendo haver ondulações no terreno). 