<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golfe</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
      </header>
    <ul id="esportes">
        <li>
         <button><a href="/esportes" >Inicio</a></button> 
        </li>
        <li>
          <button><a href='/esportes/danca'>Dança</a></button>
        </li>
        <li>
          <button><a href='/esportes/golfe'>Golfe</a></button>
        </li>
        <li>
          <button><a href='/esportes/basquete'>Basquete</a></button>
        </li>
        <li>
          <button><a href='/esportes/volei'>Vôlei</a></button>
        </li>
    </ul>
    <h1> Golfe </h1> 
    <p>olfe é um esporte no qual os jogadores usam diversos tipos de tacos <br>
     para arremessar uma bola para uma série de buracos numa vasta extensão de <br>
     terreno (campo de golfe), usando o menor número possível de tacadas.<br>
     É um dos poucos desportos com bola que não exige uma área de jogo normalizada. <br>
     Em vez disso, o desporto é praticado num campo de golfe, o qual geralmente <br>
     consiste numa progressão de nove ou dezoito buracos. Cada buraco inclui uma <br>
     área de terreno inicial (tee) e uma área final (putting green), na qual se <br>
     encontra uma bandeira e o buraco propriamente dito. Entre as duas áreas <br>
     existem diversos tipos padronizados de terreno e obstáculos (caixas de <br>
     areia, lagos, rios, poças etc), e cada buraco possui uma configuração <br>
     única (podendo haver ondulações no terreno). 
   </p> 
</body>
</html>
    