extends layout

block content
    title Inicio pug 

    h1 Handebol 

    p Handebol é uma modalidade esportiva jogada em equipe que <br>
    p faz parte dos esportes de invasão. Nela, a bola deve ser <br>
    p conduzida e arremessada somente com as mãos. O grande diferencial<br>
    p  é o uso das mãos para a prática do esporte.<br>

    h1 Regras:

    p São necessárias duas equipes com 7 jogadores, sendo um goleiro;<br>
    p Cada partida de handebol tem duração de 60 minutos, divididos em dois tempos de 30 minutos cada;<br>
    p Em caso de empate, haverá uma prorrogação com dois tempos, de 5 minutos cada;<br>
    p O goleiro é o único jogador que poderá utilizar os pés, para fazer as defesas;
    p O jogador com a posse da bola só pode dar três passos antes do arremesso, para dar mais de três <br>
    p passos é preciso quicar a bola no chão enquanto se movimenta pela quadra;<br>
    p O objetivo do jogo é marcar gols, para isso a bola deve atravessar totalmente a linha do gol adversário;<br>
    p A medida oficial da quadra de handebol é de 40 x 20 metros, feita com piso de madeira, emborrachado ou areia.<br>
