<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hóquei</title>
</head>
<body>
    <ul id="esportes">
        <li>
            <button> <a href='/esportes/danca'> Dança</a></button>  </li>   
        <li>
            <button> <a href='/esportes/volei'> Vôlei</a></button></li> 
        <li>
            <button> <a href='/esportes/basquete'> Basquete</a></button></li> 
        <li>
            <button> <a href='/esportes/golfe'> Golfe</a></button></li> 
        <li>
             <button> <a href='/esportes/hoquei'> Hóquei</a></button>

    <h1>Hóquei</h1>
    
</body>
</html>