<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Pagina Principal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1> Inicio  </h1>
  </header>
  <main>
    <h2>Página Inicial</h2>
    <p>Escolha um esporte para começar:</p>
    <ul>
      <li><a href="/esportes/futebol">Futebol</a></li>
      <li><a href="/esportes/sinuca">Sinuca</a></li>
      <li><a href="/esportes/volei">Vôlei</a></li>
      <li><a href="/esportes/basquete">Basquete</a></li>
      <li><a href="/esportes/tenis">Tenis</a></li>
    </ul>
    <p>Escolha um gênero musical para começar:</p>
    <ul>
      <li><a href="/musicas/rock">Rock</a></li>
      <li><a href="/musicas/pop">POP</a></li>
      <li><a href="/musicas/hiphop">HipHop</a></li>
      <li><a href="/musicas/eletronica">Eletrônica</a></li>
      <li><a href="/musicas/jazz">Jazz</a></li>
    </ul>
  </main>
  <footer>
    <p>&copy; 2024 Todos os direitos reservados.</p>
  </footer>
</body>
</html>
