<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<%- include('../views/layout'); %>
<body>
  <h1>Olá</h1>
  <p>Neste site falamos um pouco sobre dois temas que podem ser considerados <br>
  contrários mas sempre estão em conjunto e são garnde e importantes influências <br>
  no planeta como um todo! </p>
  
</body>
</html>
  
