doctype html
html(lang="pt-br")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    header
      h1= title
    main
      h2 Página Inicial
      p Escolha um esporte para começar:
      ul
        li
          a(href="/esportes/futebol") Futebol
        li
          a(href="/esportes/sinuca") Sinuca
        li
          a(href="/esportes/volei") Vôlei
    footer
      p &copy; 2024 Todos os direitos reservados.
