<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <h1>Title</h1>
  <p>Página inicial</p>

  <ul id="esportes">
    <li>
        <button a( href='/esportes/danca')> Dança</button>     
    <li>
        <button a( href='/esportes/volei')> Vôlei</button>
    <li>
        <button a( href='/esportes/basquete')> Basquete</button>
    <li>
        <button a( href='/esportes/golfe')> Golfe</button>
    <li>
         <button a( href='/esportes/hoquei')> Hóquei</button>
</body>
</html>
  
