<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <h1>Tittle</h1>
  <p>Página inicial</p>

  <ul id="esportes">
    <li>
        <button> <a href='/esportes/danca'> Dança</a></button>  </li>   
    <li>
        <button> <a href='/esportes/volei'> Vôlei</a></button></li> 
    <li>
        <button> <a href='/esportes/basquete'> Basquete</a></button></li> 
    <li>
        <button> <a href='/esportes/golfe'> Golfe</a></button></li> 
    <li>
         <button> <a href='/esportes/hoquei'> Hóquei</a></button>
</body>
</html>
  
