<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Título da Página</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1>Rotas de Web</h1>
  </header>
  <main>
    <h2>Página Inicial</h2>
    <h3>Esportes</h3>
    <ul>
      <li><a href="/esportes/futebol">Futebol</a></li>
      <li><a href="/esportes/surf">Surf</a></li>
      <li><a href="/esportes/volei">Vôlei</a></li>
      <li><a href="/esportes/hoquei">Hóquei</a></li>
      <li><a href="/esportes/peteca">Peteca</a></li>
    </ul>

    <br>

    <h3>Música</h3>
    <ul>
      <li><a href="/musica/mpb">MPB, Música Popular Brasileira</a></li>
      <li><a href="/musica/jazz">Jazz</a></li>
      <li><a href="/musica/rock">Rock</a></li>
      <li><a href="/musica/pop">Pop</a></li>
      <li><a href="/musica/kpop">K-Pop</a></li>
    </ul>
  </main>

  <footer>
    <p>&copy; 2024 Todos os direitos reservados.</p>
  </footer>
</body>
</html>
