extends layout

block content
  .container
    .row
      .col-md-8.offset-md-2
        h1= title
        p.varmengo Varmengo todos títulos comprados

  //- Exemplo de uso de cards do Bootstrap para mostrar informações adicionais:
  .container
    .row
      .col-md-4
        .card
          .card-body
            h5.card-title Notícia 1
            p.card-text Descrição da primeira notícia.

      .col-md-4
        .card
          .card-body
            h5.card-title Notícia 2
            p.card-text Descrição da segunda notícia.

      .col-md-4
        .card
          .card-body
            h5.card-title Notícia 3
            p.card-text Descrição da terceira notícia.