<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
</head>
<body>
  <h1>Bem-vindo à Página Inicial</h1>
  <p>Escolha um esporte:</p>
  <ul>
    <li><a href="/basquete">Basquete</a></li>
    <li><a href="/futebol">Futebol</a></li>
    <li><a href="/judo">Judo</a></li>
    <li><a href="/volei">Volei</a></li>
  </ul>
</body>
</html>
