{{> layout}}

{{#content}}
  <h1>Italia</h1>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="https://123ecos.com.br/wp-content/uploads/2022/11/franca.jpg" alt="Basquete" style="height: 300px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Italia</h5>
          <p class="card-text">A Italia é legal</p>
        </div>
      </div>
    </div>
  </div>
{{/content}}
