extends layout

block content
  h1= "Italia"

  .row
    .col-md-4.mb-4
      .card
        img.card-img-top(src='https://123ecos.com.br/wp-content/uploads/2022/11/franca.jpg', alt='Basquete', style='height: 300px; object-fit: cover;')
        .card-body
          h5.card-title Italia
          p.card-text A Italia é legal
