<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jazz</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1>Jazz</h1>
  </header>
  <main>
    <h2>Músicas de Jazz</h2>
    <p>Aqui estão algumas músicas de jazz para você curtir:</p>

     <!-- Espaço para o player de música -->
     <div class="music-player">
        <!-- Substitua o código abaixo pela embed da música de rock -->
        <!-- Exemplo: embed do YouTube -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZZY-Ytrw2co?si=uecevUrxPcDw1BRH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Cv9NSR-2DwM?si=H4STGzgziL5SA9Bp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZEcqHA7dbwM?si=9k4rCogAhQMr7G8X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <!-- Mais músicas ou informações adicionais -->
    <ul>
      <li><a href="/">Voltar para a Página Inicial</a></li>
      <li><a href="/musicas/rock">Ir para o Rock</a></li>
      <li><a href="/musicas/pop">Ir para o Pop</a></li>
      <li><a href="/musicas/hiphop">Ir para o Hip Hop</a></li>
      <li><a href="/musicas/eletronica">Ir para a Eletrônica</a></li>
    </ul>
  </main>
  <footer>
    <p>&copy;
