extends layout

block content
  h1= title
  p Jiujitsu
block backButton
  a(href='/sport') Voltar
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title JiujitsuCLub
    // Adicionando Bootstrap para o carrossel
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    // Estilos personalizados
    style.
      .carousel-item img
        width: 100%;
        height: auto;
  body
    
    .container.mt-5
      h1.text-center Grandes nomes do jiujitsu 
      #carouselExampleIndicators.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
          li(data-target="#carouselExampleIndicators", data-slide-to="0", class="active")
          li(data-target="#carouselExampleIndicators", data-slide-to="1")
          li(data-target="#carouselExampleIndicators", data-slide-to="2")
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src="https://conteudo.imguol.com.br/c/entretenimento/a3/2019/02/01/o-atleta-rickson-gracie-vai-ganhar-um-filme-na-netflix-dirigido-por-jose-padilha-1549061700269_v2_4x3.png", alt="Rickson Gracie")
          .carousel-item
            img.d-block.w-100(src="https://portalesportemanaus.com.br/wp-content/uploads/2023/04/Padrao-EM-1-2.jpg", alt="Micael Galvão")
          .carousel-item
            img.d-block.w-100(src="https://www.bjjheroes.com/wp-content/uploads/2011/06/Gregor-Gracie1.jpg", alt="Gregor Gracie")
        a.carousel-control-prev(href="#carouselExampleIndicators", role="button", data-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.sr-only Anterior
        a.carousel-control-next(href="#carouselExampleIndicators", role="button", data-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.sr-only Próximo
    // Scripts do Bootstrap
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
