<!DOCTYPE html>
<html>
<head>
    <title>Exemplo de Página</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="content">
        <!-- Conteúdo da página aqui -->
    </div>
</body>
</html>
