doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Meu App Node.js com Pug

    // Adicione aqui seus links para folhas de estilo, scripts, etc.

  body
    // Barra de navegação
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href="#") Meu App Node.js
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarSupportedContent")
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href="#") Início
            li.nav-item
              a.nav-link(href="#") Sobre
            li.nav-item
              a.nav-link(href="#") Contato

    // Conteúdo principal
    .container.mt-4
      block content

    // Rodapé sobre esportes
    footer.footer.bg-dark.text-white.py-4
      .container
        p.text-center Este é um rodapé sobre geral. Aqui você pode colocar informações adicionais, links úteis, etc.

    // Scripts
    // Adicione aqui seus scripts ao final do body, se necessário
