<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding-top: 60px;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    header {
      background-color: #333;
      color: white;
      padding: 1rem 0;
      text-align: center;
    }
    nav {
      background-color: #4CAF50;
      overflow: hidden;
    }
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    nav ul li {
      float: left;
    }
    nav ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    nav ul li a:hover {
      background-color: #111;
    }
    .container {
      max-width: 960px;
      margin: 0 auto;
    }
    .card {
      margin-bottom: 20px;
      border: 1px solid #ddd;
      padding: 15px;
      border-radius: 5px;
    }
    footer {
      background-color: #f8f9fa;
      padding: 20px 0;
      text-align: center;
      margin-top: 20px; /* Adiciona um espaço acima do footer */
    }
  </style>
</head>
<body>
  <header>
    <h1>Meu Site de Esportes</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/esportes">Home</a></li>
      <li><a href="/esportes/futebol">Futebol</a></li>
      <li><a href="/esportes/ufc">UFC</a></li>
      <li><a href="/esportes/surfe">Surfe</a></li>
    </ul>
  </nav>

  <div class="container">
    <% if (content) { %>
      <%= content %>
    <% } %>
  </div>

  <footer>
    <p>Copyright © 2024 Site de Esportes. Todos os direitos reservados.</p>
    <p>Desenvolvido por <a href="#">Fernando</a></p>
  </footer>
</body>
</html>
