<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site - </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- outros scripts e estilos necessários -->
</head>
<body>
    <header>
        <!-- cabeçalho da página -->
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- conteúdo específico será renderizado aqui -->
      
    </main>

    <footer>
        <!-- rodapé da página -->
        <p>&copy; Meu Site. Todos os direitos reservados.</p>
    </footer>
</body>
</html>


