doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    style.
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
      }
      header {
        background-color: #007bff;
        color: white;
        padding: 20px 0;
        text-align: center;
        margin-bottom: 20px;
      }
      main {
        width: 80%;
        margin: 0 auto;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      }
      footer {
        text-align: center;
        padding: 10px 0;
        background-color: #007bff;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
  body
    header
      nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
        .container
          a.navbar-brand(href='#') Grêmio Foot-Ball Porto Alegrense
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarCollapse.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/esportes/rebaixamento/1991') Temporada 1991
              li.nav-item
                a.nav-link(href='/esportes/rebaixamento/2004') Temporada 2004
              li.nav-item
                a.nav-link(href='/esportes/rebaixamento/2012') Temporada 2012
    block content
    footer
      p © 2024 Grêmio Foot-Ball Porto Alegrense. Todos os direitos reservados.
