<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Meu Site de Esportes</h1>
  </header>
  <%- include('partials/header') %>
  <%- body %>
  <footer>
    <p>© 2024 Meu Site de Esportes</p>
  </footer>
</body>
</html>
