doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          li
            a(href='/esportes') Lista de Melhores Esportes
          li
            a(href='/esportes/Volei') Volei
          li
            a(href='/esportes/Volei de areia') Volei de Areia
          li
            a(href='/esportes/Basquete') Basquete
          li
            a(href='/esportes/Futebol') Futebol

    block content
