doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar
      .container
        .navbar-brand
          h1 Minha Navegação
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='#') Página Inicial
          li.nav-item
            a.nav-link(href='#') Sobre
          li.nav-item
            a.nav-link(href='#') Contatos
    .content-wrapper
      block content
    footer.footer
      .container
        hr
        .row
          .col-md-6
            h3 Informações de Contato
          .col-md-6
            img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT29gF6DzYtEDSA9nO0rdUylCNj0iDwzDjSpg&s', alt='Logo da empresa', style='width: 100px; height: auto;')
            .social-icons
              img(src='https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg', alt='Ícone do Facebook', style='width: 30px; height: auto;')
              img(src='https://cdn.icon-icons.com/icons2/836/PNG/512/Twitter_icon-icons.com_66803.png', alt='Ícone do Twitter', style='width: 30px; height: auto;')
              img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/1200px-LinkedIn_icon.svg.png', alt='Ícone do LinkedIn', style='width: 30px; height: auto;')
            h3 Siga-nos nas redes sociais
