<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erro</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <main role="main">
      <%- block content %>
      <% if (typeof message !== 'undefined') { %>
        <h1><%= message %></h1>
      <% } %>
      <% if (typeof error !== 'undefined') { %>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
      <% } %>
      </main>
  </div>
</body>

</html >

