<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maldivas</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f2f2f2;
            color: #333;
            margin: 0 auto;
            max-width: 800px;
            padding: 20px;
        }
        header {
            background-color: #4CAF50;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        main {
            background-color: white;
            padding: 20px;
            margin-top: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        section {
            margin-bottom: 20px;
        }
        h1 {
            color: white;
            margin-bottom: 10px;
        }
        h2 {
            color: #4CAF50;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 10px;
        }
        img {
            display: block; 
            margin: 0 auto; 
            max-width: 100%; 
            border-radius: 10px; 
        }
    </style>
</head>
<body>
    <header>
        <h1>Maldivas</h1>
        <img src="https://cdn6.campograndenews.com.br/uploads/noticias/2020/12/28/44f1b87df61dfaecb4141a236286342c44bff37d.jpg" width="500" height="250" alt="Maldivas">
        <p>Descubra o paraíso nas Maldivas</p>
       
    </header>
    <button onclick="window.history.back()">Voltar</button>
    <main>
        <section id="praias">
            <h2>Praias de Areia Branca</h2>
            <p>As Maldivas são famosas por suas praias de areia branca e águas azul-turquesa cristalinas. Relaxe sob o sol tropical ou mergulhe para explorar os recifes de coral.</p>
        </section>
        <section id="luxo">
            <h2>Experiência de Luxo</h2>
            <p>Os resorts nas Maldivas oferecem hospedagem de luxo em vilas sobre a água, proporcionando privacidade e vistas deslumbrantes do oceano.</p>
        </section>
        <section id="mergulho">
            <h2>Mergulho e Snorkeling</h2>
            <p>Explore a vida marinha única das Maldivas através de atividades como mergulho e snorkeling. Descubra coloridos recifes de coral e uma variedade de peixes tropicais.</p>
        </section>
        <section id="cultura">
            <h2>Cultura e Hospitalidade</h2>
            <p>Conheça a cultura local das Maldivas, conhecida por sua hospitalidade calorosa e rica tradição. Explore vilas de pescadores e participe de cerimônias culturais.</p>
        </section>
    </main>
</body>
</html>
