extends layout

block content
  h1(style="background-color: #f0f0f0; padding: 10px;") Aba de Games

  .container.mt-5(style="background-color: #fff; padding: 20px;")
    h1.text-center(style="color: #333;") Minecraft
    p(style="color: #555;") Jogo survival feito para muitas plataformas que revolucionou o games

    #carouselExampleIndicators.carousel.slide(data-ride="carousel")
      ol.carousel-indicators
        li(data-target="#carouselExampleIndicators", data-slide-to="0", class="active")
        li(data-target="#carouselExampleIndicators", data-slide-to="1")
        li(data-target="#carouselExampleIndicators", data-slide-to="2")

      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src="https://img.redbull.com/images/c_crop,w_1919,h_959,x_0,y_120,f_auto,q_auto/c_scale,w_1200/redbullcom/2016/12/16/1331835109442_2/sua-imagina%C3%A7%C3%A3o-%C3%A9-o-limite.png", alt="tela")
        .carousel-item
          img.d-block.w-100(src="https://www.adrenaline.com.br/wp-content/uploads/2024/03/Minecraft-ps5-912x569.jpg", alt="tela")
        .carousel-item
          img.d-block.w-100(src="https://t.ctcdn.com.br/EQYv3V-iLosDLVqBJo4vF9WkOIU=/640x360/smart/i238599.jpeg", alt="tela")

      a.carousel-control-prev(href="#carouselExampleIndicators", role="button", data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Anterior

      a.carousel-control-next(href="#carouselExampleIndicators", role="button", data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Próximo

block backButton
  a(href='/esportes') Voltar


  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Surf

  // Adicionando Bootstrap para o carrossel
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

  // Estilos personalizados
  style.
    body
      background-color: #f8f9fa;
    
    .container
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      padding: 20px;
      margin-top: 20px;

    .carousel-item img
      width: 100%;
      height: auto;

  // Scripts do Bootstrap
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
