doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Exemplo de Pug com Navbar e Carrossel
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    header
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container
          a.navbar-brand(href="#") Navbar
          button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarNav
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href="#") Início
              li.nav-item
                a.nav-link(href="/jogos/roblox") Roblox
              li.nav-item
                a.nav-link(href="/jogos/sonic") Sonic
              li.nav-item
                a.nav-link(href="/jogos/fortnite") Fortnite
            li.nav-item
                a.nav-link(href="/jogos/pillarchase") Pillar Chase
    .container.mt-4
      .row
        .col-md-8
          .carousel.slide(data-ride="carousel", id="carouselExampleSlidesOnly")
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/ncom/software/switch/70010000000964/a28a81253e919298beab2295e39a56b7a5140ef15abdb56135655e5c221b2a3a", alt="First slide")
              .carousel-item
                img.d-block.w-100(src="https://i.ytimg.com/vi_webp/EfaJ6n64A8g/maxresdefault.webp", alt="Second slide")
              .carousel-item
                img.d-block.w-100(src="https://img.redbull.com/images/c_crop,w_1919,h_959,x_0,y_120,f_auto,q_auto/c_scale,w_1200/redbullcom/2016/12/16/1331835109442_2/sua-imagina%C3%A7%C3%A3o-%C3%A9-o-limite.png", alt="Third slide")
            a.carousel-control-prev(href="#carouselExampleSlidesOnly", role="button", data-slide="prev")
              span.carousel-control-prev-icon(aria-hidden="true")
              span.sr-only Previous
            a.carousel-control-next(href="#carouselExampleSlidesOnly", role="button", data-slide="next")
              span.carousel-control-next-icon(aria-hidden="true")
              span.sr-only Next

    footer.footer.bg-light.py-3
      .container
        p.text-center © 2024 Todos os direitos reservados.

  script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
