extends layout 

block content
    title Inicio pug 
    h1 Música 

    p A música (do grego μουσική τέχνη - musiké téchne, a arte das musas) é uma 
    p forma de arte que se constitui na combinação de vários sons e ritmos, seguindo 
    p uma pré-organização ao longo do tempo.
    p É considerada por diversos autores como uma prática cultural e humana. Não se
    p conhece nenhuma civilização ou agrupamento que não possua manifestações musicais
    p próprias.

    h1 Gêneos Musicais: 
    p Assim como existem várias definições para música, existem muitas divisões e 
    p agrupamentos da música em gêneros, estilos e formas. Dividir a música em gêneros
    p é uma tentativa de classificar cada composição de acordo com critérios objetivos, 
    p que não são sempre fáceis de definir. 
    p Exempos:
    table
        td
            button
                a( href='/musicas/pop') Pop
        td
            button
                a( href='/musicas/rap') Rap
        td
            button
                a( href='/musicas/reggaeton') Reggeaton
        td
            button
                a( href='/musicas/rock') Rock
        td
            button
                a( href='/musicas/sertanejo') Sertanejo    
