<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Música</title>
    
</head>
<%- include('../views/layout'); %>
<body>
    <h1>Música </h1> 

    <p> A música (do grego μουσική τέχνη - musiké téchne, a arte das musas) é uma <br>
     forma de arte que se constitui na combinação de vários sons e ritmos, seguindo <br>
     uma pré-organização ao longo do tempo.<br>
     É considerada por diversos autores como uma prática cultural e humana. Não se<br>
     conhece nenhuma civilização ou agrupamento que não possua manifestações musicais<br>
     próprias.</p>

    <h2>Gêneros Musicais: </h2> 
    <p> Assim como existem várias definições para música, existem muitas divisões e<br> 
     agrupamentos da música em gêneros, estilos e formas. Dividir a música em gêneros<br>
     é uma tentativa de classificar cada composição de acordo com critérios objetivos, <br>
     que não são sempre fáceis de definir. </p>
<nav class="qwe">
    <h3>Exemplos:</h3> 
     <ul>
        <li>
            <button id="pgin"> <a href='/musicas/pop'> Pop </a></button>  </li>   
        <li>
            <button id="pgin"> <a href='/musicas/rap'> Rap </a></button></li> 
        <li>
            <button id="pgin"> <a href='/musicas/rock'>Rock</a></button></li> 
        <li>
            <button id="pgin"> <a href='/musicas/sertanejo'>Sertanejo</a></button></li> 
        <li>
             <button id="pgin"> <a href='/musicas/reggaeton'>Reggaeton</a></button></li>
    </ul>
</nav>

</body>
</html>
   
        