{{! Extende o layout comum }}
{{> layout}}
<main>
  <h2>Lista de Músicas</h2>
  <ul>
    <li><a href="/musicas/hino-do-inter">Hino do Inter</a></li>
    <li><a href="/musicas/despacito">Despacito</a></li>
    <li><a href="/musicas/brooklyn-baby">Brooklyn Baby</a></li>
    <li><a href="/musicas/maquina-do-tempo">Máquina do Tempo (Matue)</a></li>
    <li><a href="/musicas/tranquilamente">Tranquilamente</a></li>
  </ul>
</main>
