<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Natação</title>
</head>
<body>

  <header>
    <h1>Natação: O que é?</h1>
    <p>A natação é um esporte aquático praticado individualmente ou em equipe, onde os participantes utilizam movimentos coordenados para atravessar a água.</p>
  </header>

  <main>

    <section>
      <h2>História da Natação</h2>
      <p>A prática da natação remonta à pré-história, com registros de competições na Grécia Antiga. Ao longo dos séculos, a natação evoluiu e se tornou uma parte fundamental dos esportes olímpicos modernos.</p>
    </section>

    <section>
      <h2>Grandes Competições de Natação</h2>
      <p>As competições de natação mais prestigiadas incluem os Jogos Olímpicos, o Campeonato Mundial de Natação FINA e os Jogos Pan-Americanos, onde nadadores de todo o mundo competem em várias modalidades.</p>
    </section>

    <section>
      <h2>Curiosidades sobre a Natação</h2>
      <p>A natação é um dos exercícios físicos mais completos, trabalhando diversos grupos musculares e oferecendo benefícios para a saúde cardiovascular e respiratória dos praticantes.</p>
    </section>

    <section>
      <h2>Imagens de Natação</h2>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRan6-2hAykkM842ztFuZyYhfZV4W368GUPqg&s" alt="Imagem 1">
    </section>

  </main>

  <footer>
    <p>© 2024 Página de Natação. Todos os direitos reservados.</p>
  </footer>

</body>
</html>
