extends layout

block content
  h1= title
  p Bem-vindo à página de #{title}
  p Pagode
  .container
    .row
      .col-md-6.offset-md-3
        img.img-fluid(src="https://www.rbsdirect.com.br/imagesrc/25441426.jpg?w=700" alt="pagode")
        h2 pagode
        p.text-muted Como falar de pagode e nao citar a turma do pagode?
        p.text-muted Aqui você pode adicionar mais detalhes e informações sobre a turma do pagode.

  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")
