<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Petecanm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        /* Estilos para ajustar o tamanho do carrossel */
        #myCarousel {
            width: 50%; /* Defina a largura desejada */
            margin: 0 auto; /* Centraliza o carrossel na página */
        }
        .carousel-inner .item img {
            width: 150%; /* Ajusta a largura da imagem para ocupar todo o espaço do slide */
            height: 400px; /* Defina a altura desejada para os slides */
        }
          /* Estilo para o corpo da página */
          /* Estilo para o corpo da página */
        
    </style>
</head>
<body>
    <header>
        <h1>Petecas</h1>
    </header>
    <main>
        <h2>Bem-vindo a Peteca!</h2>
        <p>Peteca é o nome dado tanto a um esporte quanto ao artefato esportivo utilizado em sua prática, sendo ambos de origem indígena brasileira.</p>

        <div class="menu-container">
            <ul class="menu-list">
                <li>
                    <a href="/">Voltar para a Página Inicial</a>
                </li>
                <li>
                    <a href="/esportes/futebol">Ir para o Futebol</a>
                </li>
                <li>
                    <a href="/esportes/surf">Ir para a Surf</a>
                </li>
                <li>
                    <a href="/esportes/hoquei">Ir para a Hóquei</a>
                </li>
                <li>
                    <a href="/esportes/peteca">Ir para a Peteca</a>
                </li>
            </ul>
        </div>
        
        <!-- Bootstrap Carousel -->
        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/imagens/peteca/duaspeteca.jpg" alt="duaspeteca">
                    </div>

                    <div class="item">
                        <img src="/imagens/peteca/petecamao.jpg" alt="maonapeteca">
                    </div>

                    <div class="item">
                        <img src="/imagens/peteca/petecaraquete.jpg" alt="petecaraquete">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        
        
    </main>
    
    <footer>
        <p>&copy; 2024 Todos os direitos reservados.</p>
    </footer>
</body>
</html>
