<!DOCTYPE html>
<html>
<head>
    <title>Estilos musicais para o seu dia!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar Vermelha</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/musicas">Músicas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/musicas/funk">Funk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/musicas/country">Country</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/musicas/bossanova">Bossa Nova</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/musicas/pop">POP Internacional</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2>Carrossel de Exemplo</h2>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="https://i.em.com.br/jzQjFxEJhehSeErUW0Kq1HoFyh8=/1200x1200/smart/imgsapp.em.com.br/app/noticia_127983242361/2023/01/11/1443571/adelle_1_45782.jpg" alt="Primeiro Slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://s2-glamour.glbimg.com/yfdmVp73sIpzzwY_n6KUGOMV0Pg=/0x0:600x900/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_ba3db981e6d14e54bb84be31c923b00c/internal_photos/bs/2021/X/p/cbuMNLTIG0JHEri2wg4w/2018-03-27-gettyimages-512919344.jpg" alt="Segundo Slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/2024/04/rihanna-brasil.png?w=740" alt="Terceiro Slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Próximo</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer bg-light text-center mt-4 py-3">
        <div class="container">
            <p>Copyright © 2024. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
