<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>

    <header>
        <h1>{{title}}</h1>
        <p>Bem-vindo à página de {{title}}</p>
        <p>Pop</p>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <img class="img-fluid" src="https://s2-gshow.glbimg.com/lt5Eqan_Ntqhjfj53byqQbScogc=/0x0:1732x2048/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_e84042ef78cb4708aeebdf1c68c6cbd6/internal_photos/bs/2023/i/W/6D7LuPRoifm0FBbFTUoQ/post-malone-tatuagem-tattoo-town-gshow-rock-in-rio-tatuagens.jpg" alt="POP">
                    <h2>POP</h2>
                    <p class="text-muted">Como falar de pop e não falar dele?</p>
                    <p class="text-muted">Esse aqui é um dos maiores do mundo!</p>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
