<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-link" href="/">Início</a></li>
          <li class="nav-item"><a class="nav-link" href="/esportes">Esportes</a></li>
          <li class="nav-item"><a class="nav-link" href="/estilosmusicais">Estilos Musicais</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <h2>Pop</h2>
      <p>O pop é um gênero de música popular que se originou na sua forma moderna durante a década de 1950 nos Estados Unidos e no Reino Unido. O termo "música pop" é frequentemente utilizado para descrever um estilo mais comercial e acessível.</p>
    </main>
    <footer class="footer">
      <p>&copy; 2024 Meu Site</p>
    </footer>
  </body>
</html>