extends layout

block content
    title Inicio pug 
    h1 POP

    p A música pop, ou simplesmente pop, é um gênero musical que surgiu na segunda metade do século XX e rapidamente
    p se tornou um dos estilos mais influentes e comerciais do mundo. O termo "pop" é derivado de "popular" e caracteriza
    p músicas que são amplamente aceitas e apreciadas pelo público em geral.
    p As origens da música pop podem ser rastreadas até o final dos anos 1950 e início dos anos 1960, com o rock and roll
    p e a música jovem como principais influências. Artistas como Elvis Presley e os Beatles foram fundamentais para definir
    p o som e a popularidade inicial do gênero.
    p Durante as décadas de 1970 e 1980, a música pop evoluiu significativamente, incorporando elementos de outros gêneros
    p como disco, funk, e música eletrônica. Esta era viu o surgimento de ícones como Michael Jackson, Madonna e Prince,
    p que ajudaram a moldar a cultura pop global.
    p Nos anos 1990 e 2000, o pop continuou a dominar as paradas musicais, com artistas como Britney Spears, Backstreet Boys,
    p NSYNC e Beyoncé alcançando sucesso internacional. A era digital trouxe mudanças adicionais, com o surgimento de plataformas
    p de streaming e redes sociais, permitindo que novos talentos como Justin Bieber, Taylor Swift e Ariana Grande ganhassem
    p notoriedade rapidamente.
    p Hoje, o pop é um gênero extremamente diversificado, influenciando e sendo influenciado por uma ampla variedade de
    p outros estilos musicais. Artistas contemporâneos continuam a redefinir o som pop, mantendo o gênero sempre relevante
    p e dinâmico.
        
