<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
      </header>
    <ul id="musica">
        <li>
         <button><a href="/musica" >Inicio</a></button> 
        </li>
        <li>
          <button><a href='/musica/pop'>Pop</a></button>
        </li>
        <li>
          <button><a href='/musica/eletronica'>Eletrônica</a></button>
        </li>
        <li>
          <button><a href='/musica/trap'>Trap</a></button>
        </li>
        <li>
          <button><a href='/musica/sertanejo'>Sertanejo</a></button>
        </li>
    <h1> POP </h1>

    <p> A música pop, ou simplesmente pop, é um gênero musical que surgiu na segunda metade do século XX e rapidamente
    se tornou um dos estilos mais influentes e comerciais do mundo. O termo "pop" é derivado de "popular" e caracteriza
     músicas que são amplamente aceitas e apreciadas pelo público em geral.
     As origens da música pop podem ser rastreadas até o final dos anos 1950 e início dos anos 1960, com o rock and roll
     e a música jovem como principais influências. Artistas como Elvis Presley e os Beatles foram fundamentais para definir
     o som e a popularidade inicial do gênero.
     Durante as décadas de 1970 e 1980, a música pop evoluiu significativamente, incorporando elementos de outros gêneros
     como disco, funk, e música eletrônica. Esta era viu o surgimento de ícones como Michael Jackson, Madonna e Prince,
     que ajudaram a moldar a cultura pop global.
     Nos anos 1990 e 2000, o pop continuou a dominar as paradas musicais, com artistas como Britney Spears, Backstreet Boys,
     NSYNC e Beyoncé alcançando sucesso internacional. A era digital trouxe mudanças adicionais, com o surgimento de plataformas
     de streaming e redes sociais, permitindo que novos talentos como Justin Bieber, Taylor Swift e Ariana Grande ganhassem
     notoriedade rapidamente.
     Hoje, o pop é um gênero extremamente diversificado, influenciando e sendo influenciado por uma ampla variedade de
     outros estilos musicais. Artistas contemporâneos continuam a redefinir o som pop, mantendo o gênero sempre relevante
     e dinâmico.
    </p>    
</body>
</html>
   
