extends layout

block content
  .container.py-4
    .row
      .col-md-4.mb-4
        .card.shadow-sm.border-0
          img.card-img-top(src="https://via.placeholder.com/300x200", alt="Praia")
          .card-body
            h5.card-title Praia
            p.card-text
              | As praias são destinos naturais onde o mar encontra a terra, oferecendo aos visitantes paisagens deslumbrantes e oportunidades para relaxamento e diversão. São locais ideais para atividades como natação, bronzeamento e prática de esportes aquáticos.
            a.btn.btn-primary(href="#") Saiba Mais
      .col-md-4.mb-4
        .card.shadow-sm.border-0
          img.card-img-top(src="https://via.placeholder.com/300x200", alt="Praia Tropical")
          .card-body
            h5.card-title Praia Tropical
            p.card-text
              | Praias tropicais são conhecidas por suas águas cristalinas e areias brancas, criando um ambiente paradisíaco. São ideais para quem busca sol, mar calmo e experiências exóticas.
            a.btn.btn-primary(href="#") Saiba Mais
      .col-md-4.mb-4
        .card.shadow-sm.border-0
          img.card-img-top(src="https://via.placeholder.com/300x200", alt="Praia Desertica")
          .card-body
            h5.card-title Praia Desértica
            p.card-text
              | Praias desertas oferecem uma experiência isolada e tranquila, longe das multidões. São perfeitas para quem busca privacidade e contato direto com a natureza intocada.
            a.btn.btn-primary(href="#") Saiba Mais
