extends layout

block content
  h1= title
  p Bem-vindo à página PS4
  main.main-content
    .container.text-center
      // Conteúdo específico para PS4
      p Este é o conteúdo da página do PS4.
      img.img-fluid(src="https://a-static.mlcdn.com.br/350x350/playstation-4-1tb-1-controle-preto-sony-com-god-of-war-ragnarok/magazineluiza/236524900/4da44bc5f8720512a9ae6302a497b7c5.jpg" alt="PS4")
