extends layout

block content
  h1= title
  p Bem-vindo à página PS5
  main.main-content
    .container.text-center
      // Conteúdo específico para PS5
      p Este é o conteúdo da página do PS5.
      img.img-fluid(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT38N9tipha-8k_XRv9lPKXtqUCQNR-httHMA&s" alt="PS5")
