{{! Extende o layout comum }}
{{> layout}}
<main>
  <section>
    <h2>Temporada 2004</h2>
    <p>Em 2004, o Grêmio foi novamente rebaixado no Campeonato Brasileiro, após uma campanha complicada.</p>
  </section>
</main>
