{{! Extende o layout comum }}
{{> layout}}
<main>
  <section>
    <h2>Temporada 1991</h2>
    <p>Na temporada de 1991, o Grêmio foi rebaixado pela primeira vez em sua história, terminando em 25º lugar no Campeonato Brasileiro.</p>
  </section>
</main>
