extends layout

block content
  main
    section
      h2 Temporada 2012
      p Na temporada de 2012, o Grêmio enfrentou seu terceiro rebaixamento, novamente no Campeonato Brasileiro, encerrando uma série de participações consecutivas na elite do futebol brasileiro.
