doctype html
doctype html
html
  head
    title Samba
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
  body
    .container
      .row.justify-content-center
        .col-8.text-center
          h1.mb-4 Samba
          img.img-fluid(src="https://s1.static.brasilescola.uol.com.br/be/2020/11/tamborim.jpg", alt="Imagem de Rock")
          p.mb-4 Informações sobre Samba...
          a.btn.btn-primary(href="/musicas") Voltar para o menu principal
