<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sertanejo</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
      </header>
    <ul id="musica">
        <li>
         <button><a href="/musica" >Inicio</a></button> 
        </li>
        <li>
          <button><a href='/musica/pop'>Pop</a></button>
        </li>
        <li>
          <button><a href='/musica/eletronica'>Eletrônica</a></button>
        </li>
        <li>
          <button><a href='/musica/trap'>Trap</a></button>
        </li>
        <li>
          <button><a href='/musica/sertanejo'>Sertanejo</a></button>
        </li>
    <h1> Sertanejo</h1> 

    <p> O sertanejo é um gênero musical popular no Brasil, com raízes profundas na música rural e tradicional
    do interior do país. Surgiu no início do século XX, inicialmente com influências de músicas folclóricas
    e modas de viola, refletindo a vida e a cultura das regiões rurais.
    Nos anos 1940 e 1950, o sertanejo começou a ganhar popularidade com duplas como Tonico & Tinoco,
    que ajudaram a definir o som tradicional do gênero. Esta fase é conhecida como sertanejo raiz, caracterizada
    pelo uso de instrumentos como a viola caipira e letras que falam sobre a vida no campo.
    A partir dos anos 1980, o sertanejo passou por uma transformação significativa, com a incorporação de elementos
    de outros gêneros musicais, como o pop e o rock. Este período é conhecido como sertanejo romântico, com artistas
    como Chitãozinho & Xororó, Leandro & Leonardo e Zezé Di Camargo & Luciano alcançando grande sucesso.
    Nos anos 2000, o sertanejo continuou a evoluir, dando origem ao sertanejo universitário, que atraiu um público mais
    jovem. Artistas como Jorge & Mateus, Gusttavo Lima e Luan Santana são alguns dos nomes proeminentes desta nova fase do gênero.
    Hoje, o sertanejo é um dos gêneros mais populares do Brasil, com uma presença constante nas paradas de sucesso e uma
    grande influência na cultura musical do país.
    </p> 
</body>
</html>
   