extends layout

block content
    title Sertanejo
    a( href='/musica') Música
    a( href='/musica/pop') pop
    a( href='/musica/rock') Rock
    a( href='/musica/sertanejo') sertanejo
    a( href='/musica/rap') Golfe
    a( href='/musica/funk') Golfe
    h1 Inicio