extends layout

block content
    title Inicio pug 
    h1 Sertanejo 

    p O sertanejo é um gênero musical popular no Brasil, com raízes profundas na música rural e tradicional
    p do interior do país. Surgiu no início do século XX, inicialmente com influências de músicas folclóricas
    p e modas de viola, refletindo a vida e a cultura das regiões rurais.
    p Nos anos 1940 e 1950, o sertanejo começou a ganhar popularidade com duplas como Tonico & Tinoco,
    p que ajudaram a definir o som tradicional do gênero. Esta fase é conhecida como sertanejo raiz, caracterizada
    p pelo uso de instrumentos como a viola caipira e letras que falam sobre a vida no campo.
    p A partir dos anos 1980, o sertanejo passou por uma transformação significativa, com a incorporação de elementos
    p de outros gêneros musicais, como o pop e o rock. Este período é conhecido como sertanejo romântico, com artistas
    p como Chitãozinho & Xororó, Leandro & Leonardo e Zezé Di Camargo & Luciano alcançando grande sucesso.
    p Nos anos 2000, o sertanejo continuou a evoluir, dando origem ao sertanejo universitário, que atraiu um público mais
    p jovem. Artistas como Jorge & Mateus, Gusttavo Lima e Luan Santana são alguns dos nomes proeminentes desta nova fase do gênero.
    p Hoje, o sertanejo é um dos gêneros mais populares do Brasil, com uma presença constante nas paradas de sucesso e uma
    p grande influência na cultura musical do país.