doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Snorlax Pokédex
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      .row.justify-content-center
        .col-md-6
          h1.text-center Snorlax Pokédex
          img.img-fluid(src="https://img.pokemondb.net/artwork/snorlax.jpg", alt="Snorlax")
          ul.list-group.mt-3
            li.list-group-item Habilidade 1: Immunity
            li.list-group-item Habilidade 2: Thick Fat
            li.list-group-item Habilidade 3: Gluttony
          a.btn.btn-primary.btn-block(href="/pokemon") Voltar para a página inicial
