doctype html
html
  head
    title Lesões em Esportes
    link(rel='stylesheet', href='/styles.css') // Exemplo de importação de arquivo CSS
  
  body
    header
      h1 Lesões em Esportes

    main
      ul
        li
          h2 Entorse de Tornozelo
          p
            | A entorse de tornozelo é uma lesão comum em esportes como futebol e basquete. 
            | Ela ocorre quando os ligamentos do tornozelo são esticados ou rasgados devido a um movimento brusco.
        li
          h2 Tendinite
          p
            | A tendinite é a inflamação de um tendão devido ao uso excessivo, comum em esportes de repetição como corrida e tênis.
        li
          h2 Luxação de Ombro
          p
            | A luxação de ombro ocorre quando a cabeça do úmero sai da sua posição normal na cavidade glenoidal da escápula.
            | Isso pode ocorrer em esportes de contato como rugby e judô.
        li
          h2 Fratura por Estresse
          p
            | A fratura por estresse é uma pequena fissura em um osso, geralmente causada por atividades de alto impacto como corrida ou salto.
      
    footer
      p © 2024 Todos os direitos reservados.
