extends layout

block content
  h1 Surfe
  p O surfe é um esporte aquático em que o surfista desliza sobre as ondas do mar usando uma prancha. A prática do surfe exige equilíbrio, força e habilidade para manobrar a prancha e aproveitar ao máximo a energia das ondas.
  .surfe-content
    h2 Regras e Competição
    ul
      li As competições de surfe são realizadas em locais com boas condições de ondas, e os surfistas são avaliados pela execução de manobras, velocidade e controle.
      li Cada surfista tem um tempo limitado para pegar um número específico de ondas durante a bateria.
      li As manobras mais comuns incluem aéreos, floaters, cutbacks e tubos.
    h2 Tipos de Pranchas
    ul
      li Longboard: Prancha longa e estável, ideal para iniciantes e manobras clássicas.
      li Shortboard: Prancha curta e ágil, usada em competições e para manobras radicais.
      li Funboard: Combinação de longboard e shortboard, adequada para surfistas intermediários.