<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Surfe</title>
</head>
<body>
  <%- include('layout') %>

  <%- content %>
    <h1>Surfe</h1>
    <p>O surfe é um esporte aquático em que o surfista desliza sobre as ondas do mar usando uma prancha. A prática do surfe exige equilíbrio, força e habilidade para manobrar a prancha e aproveitar ao máximo a energia das ondas.</p>

    <div class="surfe-content">
      <h2
