<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Surf</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <h1>Surf</h1>
    </header>
    <main>
        <h2>Bem-vindo ao Surf!</h2>
        <p>Veja informações aqui sobre como surfar tão bem quanto penguins no Frio de Janeiro!</p>
        <ul>
            <li>
                <a href="/">Voltar para a Página Inicial</a>
            </li>
            <li>
                <a href="/esportes/futebol">Ir para o Futebol</a>
            </li>
            <li>
                <a href="/esportes/volei">Ir para o Vôlei</a>
            </li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Todos os direitos reservados.</p>
    </footer>
</body>
</html>