extends layout

block content
  h1 Surf

  section
    h2 O que é Surf?
    p 
      | O surf é um esporte aquático em que o surfista utiliza uma prancha para deslizar sobre as ondas do mar. Originário do Havaí, o surf envolve equilíbrio, habilidade e conexão com a natureza.

  section
    h2 Equipamentos Necessários
    ul
      li Prancha de surf
      li Leash (corda que liga o surfista à prancha)
      li Roupa de neoprene (opcional, dependendo da temperatura da água)

  section
    h2 Imagens de Surf
    .gallery
      img(src="/images/surf1.jpg", alt="Surfista pegando uma onda")
      img(src="/images/surf2.jpg", alt="Prancha de surf")
      img(src="/images/surf3.jpg", alt="Surfista realizando uma manobra")
