<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
      </header>
    <ul id="musica">
        <li>
         <button><a href="/musica" >Inicio</a></button> 
        </li>
        <li>
          <button><a href='/musica/pop'>Pop</a></button>
        </li>
        <li>
          <button><a href='/musica/eletronica'>Eletrônica</a></button>
        </li>
        <li>
          <button><a href='/musica/trap'>Trap</a></button>
        </li>
        <li>
          <button><a href='/musica/sertanejo'>Sertanejo</a></button>
        </li>
    <h1> Trap </h1> 
    
    <p> O trap é um subgênero do hip hop que se originou no sul dos Estados Unidos na década de 1990. 
    O termo "trap" refere-se às casas e áreas onde drogas são vendidas ilegalmente, e o gênero muitas 
    vezes aborda temas como pobreza, violência urbana e a vida nas ruas.
    Musicalmente, o trap é caracterizado por seus graves pesados, hi-hats rápidos, e o uso de sintetizadores
    e efeitos de áudio eletrônicos. As batidas são geralmente lentas, mas com uma sensação rítmica intensa,
    criando um som distintamente sombrio e atmosférico.
    O gênero ganhou popularidade no início dos anos 2000. No entanto, foi na década de 2010 que o trap realmente explodiu
    na cena musical global, com artistas como Future, Migos e Travis Scott alcançando grande sucesso comercial.
    Atualmente, o trap influencia diversos outros gêneros musicais e continua a evoluir, com novos artistas e produtores 
    experimentando e expandindo os limites do som trap.
    </p>
</body>
</html>
   