<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UFC</title>
</head>
<body>
  <%- include('layout') %>

  <%- content %>
    <h1><%= title %></h1>
    <p>Conheça os lutadores brasileiros Alex "Poatan" Pereira e Charles Oliveira, que se destacam no cenário do UFC.</p>

    <div class="ufc-content">
      <!-- Conteúdo do UFC -->
    </div>
  </%- content %>
</body>
</html>
