extends layout

block content
  h1 UFC
  p Conheça os lutadores brasileiros Alex "Poatan" Pereira e Charles Oliveira, que se destacam no cenário do UFC.
  
  .ufc-content
    h2 Alex "Poatan" Pereira
    p Alex Pereira é um lutador brasileiro de MMA e ex-campeão do Glory Kickboxing. Ele é conhecido por sua força e técnica impressionante.
    ul
      li Data de nascimento: 7 de julho de 1987
      li Categoria: Peso Médio
      li Principais conquistas: Campeão do Glory Kickboxing e lutador do UFC

      img(src="https://lncimg.lance.com.br/cdn-cgi/image/width=1080,quality=75,fit=pad,format=webp/uploads/2023/04/03/642b19d899933.jpeg", alt="")

    h2 Charles Oliveira
    p Charles Oliveira, também conhecido como "Do Bronx", é um lutador brasileiro de MMA e ex-campeão do UFC na categoria peso leve.
    ul
      li Data de nascimento: 17 de outubro de 1989
      li Categoria: Peso Leve
      li Principais conquistas: Campeão do UFC e recordista de finalizações na história do UFC

      img(src="https://i.superesportes.com.br/c27Hpi2nWi-VYVvX0rGuxzviqOw=/750x0/smart/imgsapp.mg.superesportes.com.br/app/noticia_126420360808/2021/05/16/3915773/20210516111350638438a.jpg", alt="")
