doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Viagens dos Sonhos
   style.
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
        color: #333;
      }
      header {
        background-color: #2AD5DB ;
        color: #fff;
        text-align: center;
        padding: 1rem 0;
        margin-bottom: 20px;
      }
      main {
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
      h1, h2 {
        color: #333;
        text-align: center;
        margin-bottom: 15px;
      }
      h2 {
        border-bottom: 2px solid #333;
        padding-bottom: 5px;
      }
      p {
        margin-bottom: 10px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      li {
        margin-bottom: 5px;
      }
      footer {
        text-align: center;
        margin-top: 20px;
        color: #777;
      }

  body
    header
      h1 Viagens dos Sonhos
      p Descubra destinos incríveis ao redor do mundo

    main

    section

        h2 Tipos de esportes
        ul
          li 
            <a href="viagens/paris"> Paris</a>
             h2 Paris, França
        p Paris, a cidade das luzes, é conhecida por sua arquitetura icônica, culinária sofisticada e cultura vibrante. Visite a Torre Eiffel, o Louvre e desfrute de um passeio pelo rio Sena
          li 
            <a href="viagens/dubai"> Dubai </a>
             h2 Dubai, Emirados Árabes Unidos
        p Dubai combina modernidade e tradição como poucas cidades. Explore arranha-céus futuristas, shoppings de luxo, desertos fascinantes e praias de águas cristalinas.

          li 
            <a href="viagens/maldivas"> Maldivas </a>
             h2 Maldivas
        p As Maldivas são um paraíso tropical com praias de areia branca e águas azul-turquesa. Ideal para lua de mel ou relaxamento, oferece uma experiência de luxo em meio à natureza intocada.

          li 
            <a href="Viagens/brasil"> Brasil </a>
             h2 Brasil
        p O Brasil é um país diverso e cheio de contrastes. Desde as praias deslumbrantes do Rio de Janeiro e Florianópolis até a Floresta Amazônica e as festividades do Carnaval, há algo para todos os gostos.

    footer
      p © 2024 Viagens dos Sonhos. Todos os direitos reservados.
      address Informações de contato: contato@aulaDoJoedio.com
