doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Viagens - Destinos
    style.
      /* CSS incorporado */
      body, h1, h2, p, ul, li {
          margin: 0;
          padding: 0;
      }

      body {
          font-family: Arial, sans-serif;
          line-height: 1.6;
          background-color: #f2f2f2;
          color: #333;
          margin: 0 auto;
          max-width: 800px;
          padding: 20px;
      }

      header {
          background-color: #4CAF50;
          color: white;
          padding: 10px 0;
          text-align: center;
      }

      nav ul {
          list-style-type: none;
          text-align: center;
          padding: 0;
      }

      nav ul li {
          display: inline-block;
          margin: 0 10px;
      }

      nav ul li a {
          color: white;
          text-decoration: none;
          padding: 5px 10px;
          border-radius: 5px;
          transition: background-color 0.3s;
      }

      nav ul li a:hover {
          background-color: #45a049;
      }

      main {
          background-color: white;
          padding: 20px;
          margin-top: 20px;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      section {
          margin-bottom: 20px;
      }

      h2 {
          color: #4CAF50;
          margin-bottom: 10px;
      }

      p {
          margin-bottom: 10px;
      }

      footer{
        text-align: center;
        margin-top: 20px;
        color: #666;
        }
  body
    header
      h1 Viagens - Destinos
      nav
        ul
          li
            a(href="viagens/paris") Paris
          li
            a(href="viagens/dubai") Dubai
          li
            a(href="viagens/maldivas") Maldivas
          li
            a(href="viagens/brasil") Brasil
    main
      section#intro
        h2 Por que Viajar?
        p Viajar é uma das experiências mais enriquecedoras que podemos ter. Expandir nossos horizontes, conhecer novas culturas e explorar paisagens deslumbrantes são apenas algumas das razões pelas quais viajar é tão fascinante. Cada destino oferece algo único, desde aventuras emocionantes até momentos de tranquilidade e contemplação.
        p A cada viagem, somos desafiados a sair da nossa zona de conforto, aprender com novas experiências e criar memórias que durarão para sempre.
    footer
      address Informações de contato: contato@AulaDoProfessorJoedio.com

  