<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-widht, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

  <title><%= title %></title>

<body>
  <h1><%= title %></h1>
  <h2>Volei de Areia</h2>
  <p>
    O voleibol de praia (ou volei de areia) é uma variação do voleibol jogada na areia, geralmente em duplas. É um esporte de contato físico moderado e requer habilidades específicas devido às condições da superfície.
  </p>
</body>
</html>
