{{> layout }}

<h1>{{ title }}</h1>
<p>O voleibol de praia é uma emocionante variação do voleibol, jogada na areia por duas equipes de dois jogadores. Tornou-se um esporte olímpico em 1996.</p>
<div class="voleiDeAreia-content">
    <h2>Regras Específicas</h2>
    <ul>
        <li>Cada partida é jogada em melhor de três sets. Os dois primeiros sets vão até 21 pontos e o terceiro (se necessário) vai até 15 pontos, todos com uma diferença mínima de dois pontos.</li>
        <li>Não há posições fixas; os jogadores devem ser versáteis, capazes de atacar, defender e sacar.</li>
        <li>A superfície de areia torna o jogo mais desafiador fisicamente.</li>
    </ul>
    <h2>Estratégias de Jogo</h2>
    <ul>
        <li>Bloqueio: Um dos jogadores salta para bloquear o ataque adversário.</li>
        <li>Defesa:
