extends layout

block content
  h1= title
  p O voleibol é um esporte dinâmico jogado por duas equipes de seis jogadores em uma quadra dividida por uma rede. Criado em 1895 por William G. Morgan, o jogo envolve habilidades como saque, recepção, levantamento, ataque, bloqueio e defesa.
  .volei-content
    h2 Regras Básicas
    ul
      li Cada equipe pode tocar na bola até três vezes antes de enviá-la de volta para o lado adversário.
      li O jogo é dividido em sets, e a equipe que vencer três sets primeiro ganha a partida.
      li Um set é ganho pela primeira equipe a alcançar 25 pontos com uma vantagem de pelo menos dois pontos.
    h2 Posições dos Jogadores
    ul
      li Levantador: Organiza as jogadas e faz os passes para os atacantes.
      li Atacantes: Jogadores que finalizam as jogadas com ataques.
      li Libero: Especialista em recepção e defesa, não pode atacar a bola acima da altura da rede.
