<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>title</title> 
   <link rel='stylesheet', href='/stylesheets/style.css'>
</head>
<%- include('../views/layout'); %>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   

    <h1>Voleibol</h1>
    <%- include('../views/ept'); %>
    <p> Voleibol (chamado frequentemente no Brasil de Vôlei e em Portugal de Vólei) é um esporte praticado <br>
     numa quadra dividida em duas partes por uma rede, possuindo duas equipes de seis jogadores em cada lado. <br>
     O objetivo da modalidade é fazer a bola passar sobre a rede de modo a que a bola toque no chão dentro da <br>
     quadra adversária, ao mesmo tempo que se evita que os adversários consigam fazer o mesmo. <br>
     O vôlei foi criado em 9 de fevereiro de 1895 por William George Morgan nos Estados Unidos.</p>
    
    <h1>Regras:</h1> 
    <p> Cada equipe de voleibol é constituída por 12 jogadores: seis efetivos (sendo um líbero) e seis suplentes. Em quadra, portanto, ficam dois times de seis jogadores. <br>
     As principais regras do vôlei são: <br> 
     Cada equipe possui um técnico; <br> 
     Uma partida é constituída de 3 a 5 sets; <br> 
     Não existe tempo pré-determinado para cada set; <br> 
     Cada set tem um máximo de 25 pontos com uma diferença mínima de 2 pontos; <br> 
     Em caso de empate no final do set (24 x 24), a partida continua até que a diferença de dois pontos seja atingida (26 x 24, 27 x 25, etc.);<br> 
     Ganha a equipe que vencer três sets;<br> 
     Se houver empate nos sets (2x2), o 5º set será decisivo. No entanto, este vai somente até 15 pontos e também precisa de uma diferença mínima de 2 ponto</p>
</body>
</html>

    