extends layout

block content
  h1= title
  h2 Volei
  p
    | O voleibol é um esporte praticado por duas equipes em uma quadra dividida por uma rede. O objetivo é enviar a bola por cima da rede e fazer com que ela toque no chão do campo adversário.
