{{> layout}}

{{#content}}
  <h1>Vôlei</h1>
  
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="https://s5.static.brasilescola.uol.com.br/be/2023/06/mulheres-da-selecao-brasileira-de-volei-fazem-bloqueio-em-partida.jpg" alt="Vôlei" style="height: 300px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Vôlei</h5>
          <p class="card-text">O vôlei é um esporte de equipe popular em todo o mundo.</p>
        </div>
      </div>
    </div>
  </div>
{{/content}}
