doctype html
html(lang="pt-br")
  head
    title Vôlei
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    header
      h1 Vôlei
    main
      h2 Bem-vindo ao Vôlei!
      p O vôlei é um esporte coletivo em que duas equipes de seis jogadores cada tentam marcar pontos ao passar uma bola sobre uma rede.
      ul
        li
          a(href="/") Voltar para a Página Inicial
        li
          a(href="/esportes/futebol") Ir para o Futebol
        li
          a(href="/esportes/surf") Ir para a Sinuca
    footer
      p &copy; 2024 Todos os direitos reservados.
