extends layout

block content
  .container.py-4
    .row
      .col-md-4.mb-4
        .card.shadow-sm.border-0
          img.card-img-top(src="https://via.placeholder.com/300x200", alt="Vôlei")
          .card-body
            h5.card-title Vôlei
            p.card-text
              | O vôlei é um esporte praticado por duas equipes, separadas por uma rede. É um esporte emocionante que envolve habilidades de ataque, defesa e trabalho em equipe.
            a.btn.btn-primary(href="#") Saiba Mais
