extends layout

block content
  h1= title
  p Bem-vindo à página Xbox 360
  main.main-content
    .container.text-center
      // Conteúdo específico para Xbox 360
      p Este é o conteúdo da página do Xbox 360.
      img.img-fluid(src="https://images.tcdn.com.br/img/img_prod/862860/xbox_360_com_400_jogos_no_hd_j_tag_205_3_20200904161845.jpg" alt="Xbox 360")
