extends layout

block content
  h1= title
  p Bem-vindo à página Xbox
  main.main-content
    .container.text-center
      // Conteúdo específico para Xbox
      p Este é o conteúdo da página do Xbox.
      a(href="https://www.microsoft.com/pt-br/xbox" target="_blank")
        img.img-fluid(src="https://assets.xboxservices.com/assets/fb/d2/fbd2cb56-5c25-414d-9f46-e6a164cdf5be.png?n=XBX_A-BuyBoxBGImage01-D.png" alt="Xbox Image")
