
 


/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #ffffff; /* Cor de fundo do corpo da página */
}

header {
  background-color: #000000; /* Cor de fundo do cabeçalho */
  color: rgb(139, 139, 139); /* Cor do texto do cabeçalho */
  padding: 10px 0;
  text-align: center;
}

.header-content {
  max-width: 800px; /* Largura máxima do conteúdo do cabeçalho */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}

.main-content {
  text-align: center;
  max-width: 800px; /* Largura máxima do conteúdo principal */
  margin: 20px auto; /* Centraliza o conteúdo principal com margens */
  padding: 20px; /* Espaçamento interno do conteúdo principal */
  background-color: #6d6d6d; /* Cor de fundo do conteúdo principal */
  border: 1px solid #000000; /* Borda ao redor do conteúdo principal */
  border-radius: 5px; /* Borda arredondada */
}

.btn-container {
  margin-top: 20px;
  text-align: center; /* Centraliza os botões */
}

.btn-container a {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #000000; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: 1px solid #000000; /* Borda do botão */
  border-radius: 5px; /* Borda arredondada do botão */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

.btn-container a:hover {
  background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
  color: #fff; /* Cor do texto do botão ao passar o mouse */
}

footer {
  background-color: #333; /* Cor de fundo do rodapé */
  color: white; /* Cor do texto do rodapé */
  padding: 10px 0;
  text-align: center;
  position: fixed; /* Fixa o rodapé na parte inferior */
  bottom: 0; /* Alinha o rodapé ao final da janela */
  width: 100%; /* Largura total */
}

.footer-content {
  max-width: 800px; /* Largura máxima do conteúdo do rodapé */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}
