body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
  
}
table{
  justify-content: center;
}
button {
  background-color: #771edb; /* Green */
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
}
ul {
  list-style:none;
}
