
<br>
<br>
<br>
<footer>
    <div class="foot">
        <a href="https://www.whatsapp.com/?lang=pt_BR"><img src="/stylesheets/whatsapp.png"></a>
        <a href="https://www.instagram.com/danielrock666/"><img src="/stylesheets/instagram.png"></a>
        <a href="https://www.facebook.com/"><img src="/stylesheets/facebook.png"></a>
    </div>
</footer>